@import '../common/styles/vars/colors';

.popup {
  padding-bottom: 0.25rem;
  h6 {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    small {
      color: $highlight-color;
      font-size: 0.65rem;
      font-style: italic;
      font-weight: normal;
    }
  }
  [class*=mapboxgl-popup-content] {
    background: white;
  }
}

.list {
  margin-bottom: 0;
  max-height: 11rem;
  overflow-y: auto;
}

.filterInput {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  button {
    top: auto !important;
  }
}

.listItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  line-height: normal;
  min-height: 2rem;
  text-align: left;
  padding: 0.25rem 0.5rem;
  img {
    margin-right: 0.75rem;
    width: 1.5rem;
  }
  &:hover {
    text-decoration: underline;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}