@import '../common/styles/buttons';
@import '../common/styles/layout';

.icon {
  height: 1.5rem;
  width: auto;

  @media (min-width: $md-layout-width-min) {
    margin-right: 0.5rem;
  }
}

.username {
  display: none;
  font-size: 0.9rem;
  @media (min-width: $md-layout-width-min) {
    display: initial;
  }
}

.menu {
  [class*=icon],
  [class*=username] {
    opacity: 0.8;
  }

  &:hover {
    [class*=icon],
    [class*=username] {
      opacity: 1;
    }
  }

  button[class*=dropdown-toggle] {
    align-items: center;
  }

  button, a {
    text-align: right;
  }
}