@import '../common/styles/buttons';
@import '../common/styles/layout';

.icon {
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

.username {
  display: none;
  @media (min-width: $md-layout-width-min) {
    display: initial;
  }
}

.menu {
  button, a {
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}