/* descriptive variables */

$primary-teal: #6bbbae;
$primary-brown: #63512d;
$primary-green: #4e5e31;

$secondary-medium-gray: #63666a;
$secondary-medium-light-gray: #888b8d;
$secondary-light-gray: #b1b3b3;

$amber: #E76826;
$bright-blue: #006cd9;
$bright-green: #7fd320;
$bright-red: #d0031b;
$light-blue: #268cfb;
$very-light-blue: #F4F7FD;
$blue-highlight: #E8F0FB;
$green: #4f8317;
$mustard-yellow: #d1c22e;

$off-white: #fbfbfb;
$off-black: #333;
$dark-gray: darken($secondary-medium-gray, 20%);
$transparent-dark-gray: rgba(0, 0, 0, 0.05);
$medium-light-gray: $secondary-medium-light-gray;
$light-gray: lighten($secondary-light-gray, 25%);

$semi-light-gray: #e9ecef;
$very-light-gray: #f9f9f9;
$very-light-gray-alt: #E7E7E7;

$violet: #B62879;
$plum: #3E35A3;
$dark-teal: #107283;

/* semantic variables */

$healthy: $bright-green;
$healthy-border: lighten($bright-green, 15%);
$error: $bright-red;
$error-border: lighten($bright-red, 15%);
$warning: $mustard-yellow;
$warning-border: lighten($mustard-yellow, 15%);
$unknown: $dark-gray;
$unknown-border: lighten($dark-gray, 15%);

$no-priority: $secondary-medium-light-gray;
$low-priority: $green;
$medium-priority: $amber;
$high-priority: $bright-red;

$gray-border: $medium-light-gray;
$light-gray-border: darken($light-gray, 10%);

$map-layers-footer: #e2e2e2;
$title-bar-color: $off-black;
$primary-font-color: $dark-gray;
$clear-all-link-color: $light-blue;
$light-font-color: lighten($primary-font-color, 25%);

$primary-button-color: $bright-blue;
$popover-header-color: lighten($title-bar-color, 5%);
$popover-header-font-color: white;

$mapbox-control-bg-color: $very-light-gray;

$light-gray-background: darken($light-gray, 3%);

$link-color: darken(#428bca, 6.5%);

$alert-text: $bright-red;

$highlight-color: $bright-blue;

$info-toast-bg: rgba($off-black, 0.9);

/////

$no-priority-base-hover: rgba($no-priority, 0.75);
$no-priority-bg-hover: rgba($very-light-gray, 0.75);
$report-no-priority-theme: (
  base: $no-priority,
  background: $very-light-gray,
);

$low-priority-base: #3B6211;
$low-priority-base-hover: rgba($low-priority-base, 0.75);
$low-priority-bg: #F5F7F3;
$low-priority-bg-hover: rgba($low-priority-bg, 0.75);
$report-low-priority-theme: (
  base: $low-priority-base,
  background: $low-priority-bg,
);

$medium-priority-bg: #FDF3EE;
$medium-priority-base-hover: rgba($medium-priority, 0.75);
$medium-priority-bg-hover: rgba($medium-priority-bg, 0.75);
$report-medium-priority-theme: (
  base: $medium-priority,
  background: $medium-priority-bg,
);

$high-priority-bg: #FDF2F4;
$high-priority-base-hover: rgba($high-priority, 0.75);
$high-priority-bg-hover: rgba($high-priority-bg, 0.75);
$report-high-priority-theme: (
  base: $high-priority,
  background: $high-priority-bg,
);

/////

$patrol-overdue-theme: (
  base: $violet,
  background: rgba($violet, 0.1)
);

$patrol-active-theme: (
  base: $plum,
  background: rgba($plum, 0.1)
);

$patrol-ready-theme: (
  base: $dark-teal,
  background: rgba($dark-teal, 0.1)
);

$patrol-done-theme: (
  base: $medium-light-gray,
  background: rgba($medium-light-gray, 0.1)
);

$patrol-cancelled-theme: (
  base: $very-light-gray-alt,
  background: rgba($very-light-gray-alt, 0.1),
  fontColor: $secondary-medium-light-gray
);

/////

$patrol-ready-bg: #fffbb5;
$patrol-ready-border:#746d6d;
$patrol-active-bg: #ebfce3;
$patrol-active-border: green;
$patrol-overdue-bg: #fff1f1;
$patrol-overdue-status: $violet;
$patrol-overdue-border: darken($violet, 5%);
$patrol-cancelled-border: #b3b3b0;
$patrol-cancelled-bg: #efefef;
$patrol-done-border: black;
$patrol-done-bg: white;

$subject-control-btn-bg: $very-light-gray;

$disabled-field-gray: $semi-light-gray;
$hover-button-background: rgba(0,0,0, 0.15);