$primary-teal: #6bbbae;
$primary-brown: #63512d;
$primary-green: #4e5e31;

$secondary-medium-gray: #63666a;
$secondary-medium-light-gray: #888b8d;
$secondary-light-gray: #b1b3b3;


$amber: #FFAB24;
$bright-blue: #006cd9;
$bright-green: #7fd320;
$bright-red: #D0031B;
$green: #4F8317;
$mustard-yellow: #d1c22e;


$off-black: #333333;
$dark-gray: darken($secondary-medium-gray, 20%);
$medium-light-gray: $secondary-medium-light-gray;
$light-gray: lighten($secondary-light-gray, 25%);

$healthy: $bright-green;
$healthy-border: lighten($bright-green, 15%);
$error: $bright-red;
$error-border: lighten($bright-red, 15%);
$warning: $mustard-yellow;
$warning-border: lighten($mustard-yellow, 15%);
$unknown: $dark-gray;
$unknown-border: lighten($dark-gray, 15%);

$no-priority: $secondary-medium-gray;
$low-priority: $green;
$medium-priority: $amber;
$high-priority: $bright-red;

$gray-border: $medium-light-gray;
$light-gray-border: darken($light-gray, 10%);

$title-bar-color: $off-black;
$primary-font-color: $dark-gray;
$primary-modal-header: $off-black;

$light-font-color: lighten($primary-font-color, 25%);

$primary-button-color: $bright-blue;
$popover-header-color: $title-bar-color;
$popover-header-font-color: white;

$light-gray-background: darken($light-gray, 3%);

$link-color: darken(#428bca, 6.5%);

$alert-text: $bright-red;

$highlight-color: $bright-blue;

$priorities: (
  (0, (
    base: $no-priority,
    background: lighten($no-priority, 40%)
  )),
  (100, (
    base: $low-priority,
    background: lighten($low-priority, 60%)
  )),
  (200, (
    base: $medium-priority,
    background: lighten($medium-priority, 40%)
  )),
  (300, (
    base: $high-priority,
    background: lighten($high-priority, 55%)
  ))
);