@use 'sass:map';
@use 'colors';
 
:export {
  optionHighlight: colors.$blue-highlight;
  gray: map.get(colors.$report-no-priority-theme, 'base');
  grayBg: map.get(colors.$report-no-priority-theme, 'background');
  green: map.get(colors.$report-low-priority-theme, 'base');
  greenBg:  map.get(colors.$report-low-priority-theme, 'background');
  amber: map.get(colors.$report-medium-priority-theme, 'base');
  amberBg: map.get(colors.$report-medium-priority-theme, 'background');
  red: map.get(colors.$report-high-priority-theme, 'base');
  redBg: map.get(colors.$report-high-priority-theme, 'background');
  patrolOverdueThemeColor: map.get(colors.$patrol-overdue-theme, 'base');
  patrolOverdueThemeBgColor: map.get(colors.$patrol-overdue-theme, 'background');
  patrolActiveThemeColor: map.get(colors.$patrol-active-theme, 'base');
  patrolActiveThemeBgColor: map.get(colors.$patrol-active-theme, 'background');
  patrolReadyThemeColor: map.get(colors.$patrol-ready-theme, 'base');
  patrolReadyThemeBgColor: map.get(colors.$patrol-ready-theme, 'background');
  patrolPausedThemeColor: map.get(colors.$patrol-paused-theme, 'base');
  patrolPausedThemeBgColor: map.get(colors.$patrol-paused-theme, 'background');
  patrolDoneThemeColor: map.get(colors.$patrol-done-theme, 'base');
  patrolDoneThemeBgColor: map.get(colors.$patrol-done-theme, 'background');
  patrolCancelledThemeColor: map.get(colors.$patrol-cancelled-theme, 'base');
  patrolCancelledThemeBgColor: map.get(colors.$patrol-cancelled-theme, 'background');
  patrolCancelledThemeFontColor: map.get(colors.$patrol-cancelled-theme, 'font-color');
}
