/* webpack export statement exposes these variables to our JS files
we have to do this in a separate *.module.scss file because of this bug https://github.com/facebook/create-react-app/issues/10047 */

@import './colors';
 
:export {
  gray: map-get($report-no-priority-theme, 'base');
  grayBg: map-get($report-no-priority-theme, 'background');
  green: map-get($report-low-priority-theme, 'base');
  greenBg:  map-get($report-low-priority-theme, 'background');
  amber: map-get($report-medium-priority-theme, 'base');
  amberBg: map-get($report-medium-priority-theme, 'background');
  red: map-get($report-high-priority-theme, 'base');
  redBg: map-get($report-high-priority-theme, 'background');
  patrolOverdueThemeColor: map-get($patrol-overdue-theme, 'base');
  patrolOverdueThemeBgColor: map-get($patrol-overdue-theme, 'background');
  patrolActiveThemeColor: map-get($patrol-active-theme, 'base');
  patrolActiveThemeBgColor: map-get($patrol-active-theme, 'background');
  patrolReadyThemeColor: map-get($patrol-ready-theme, 'base');
  patrolReadyThemeBgColor: map-get($patrol-ready-theme, 'background');
  patrolDoneThemeColor: map-get($patrol-done-theme, 'base');
  patrolDoneThemeBgColor: map-get($patrol-done-theme, 'background');
  patrolCancelledThemeColor: map-get($patrol-cancelled-theme, 'base');
  patrolCancelledThemeBgColor: map-get($patrol-cancelled-theme, 'background');
  patrolCancelledThemeFontColor: map-get($patrol-cancelled-theme, 'font');
}
