@import '../common/styles/buttons';
@import '../common/styles/vars/colors';
@import '../common/styles/inputs';
@import '../common/styles/layout';
@import '../common/styles/animations';
@import '../common/styles/popovers';
@import '../common/styles/vars/fonts';


$container-padding: 1rem;

.faded {
  opacity: 0.5;
}

.headerPopover {
  &[class*=bs-popover] {
    max-width: unset;
    z-index: 1050;
  }
  [class*=popover-header] {
    @include popoverTitle;
  }
  [class*=popover-header]::before {
    border-bottom: 1px solid $popover-header-color;
  }
  > [class*=arrow]::after {
    border-bottom-color: $popover-header-color;
  }
  [class*=popover-body] {
    padding: 0;
    margin: 0.75rem 0.75rem;
    h6 {
      margin-bottom: 0.5rem;
    }
    hr {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  + [class*=modal-backdrop] + [role=dialog] {
    z-index: 1050;
  }
}

h4 {
  > span.statusBadge {
    margin-left: 6.0rem;
  }
}

.attachments {
  padding: 0 1rem;
}

section.timeBar {
  align-items: center;
  background: $light-blue;
  color: white;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 0.25rem 0.5rem 0.25rem 1rem !important;
  > div {
    align-items: center;
    display: flex;
    h6 {
      width: 2.5rem;
    }
  }
  > *:last-child {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .timeInput {
    border: none;
    input {
      cursor: pointer;
      max-width: 7.5rem;
    }
    &:not([class*=empty]) {
      background: none;
      > input {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
      svg * {
        stroke: white;
      }
      svg[class*=clearIcon] {
        display: none;
      }
      svg[class*=clearIcon] * {
        fill: white;
      }
      &:not(.editingDate):hover {
        svg[class*=clearIcon] {
          display: block;
        }
      }
    }
    &[class*=empty] {
      background: white;
      max-width: 9rem;
      display: flex;
      svg * {
        stroke: $light-blue;
      }
    }
  }
  ::placeholder {
    color: $light-blue;
    opacity: 1;
  }
  &.start {
    [class*=bs-popover-bottom] {
      top: 100%;
    }
  }
  &.end {
    [class*=bs-popover-top] {
      bottom: 100%;
      top: unset;
    }
  }
  [class*=locationAnchor] {
    svg * {
      fill: $light-blue;
      stroke: $light-blue;
    }
  }
  [class*=locationAnchor]:not([class*=empty]) {
    $dark-blue: darken($light-blue, 5%);
    font-size: 0;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-blue;
    border: 1px solid $dark-blue;
    svg * {
      fill: white;
      stroke: white;
    }
  }
  > * + * {
    margin-left: 0.5rem;
  }
  .startedLabel {
    font-style: italic;
    opacity: 0.5;
  }
  .scheduledLabel {
    color: yellow;
    text-transform: uppercase;
  }
}

.topControls {
  background: lighten($light-gray-background, 5%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  flex-wrap: wrap;
  padding: $container-padding;
  position: relative;
  > label {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    position: relative;
    width: 50%;
    @media #{$whenPageIsMediumHeightAndWidth} {
      flex-wrap: wrap;
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    > * {
      font-weight: initial;
    }
    > div {
      flex-grow: 1;
      margin-left: 0.5rem;
    }
    > span {
      display: none;
      @media #{$whenPageIsMediumHeightAndWidth} {
        display: initial;
      }
      + * {
        width: 100%;
        @media #{$whenPageIsMediumHeightAndWidth} {
          margin-top: 0.25rem;
        }
      }
    }
  }
}

.body {
  min-height: 12rem;
  max-height: 45vh;
}

.segmentList, segmentList ul {
  margin-bottom: 0;
}

.editingDate:not([class*=react-calendar]) {
  > input {
    color: yellow !important;
    font-style: italic;
    width: 7.5rem;
  }
  &::after {
    color: yellow;
    display: inline;
    content: "*unsaved";
  }
  + .scheduledLabel {
    display: none;
  }
} 

.dateTimePickerChildren {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  label {
    align-items: center;
    display: flex;
    margin: 0;
  }
  [type=checkbox] {
    margin-right: 0.5rem;
  }
}

.patrolDetail {
  display: inline-block;
}