@import '../common/styles/buttons';
@import '../SubjectControls/mixins';

.container {
  @include control;
    &[class*=visible] {
      border: 0.06px solid $bright-blue;
      background-color: rgba($bright-blue, 0.1);
    }
    
    &[class*=pinned] {
      border: 0.06px solid $green;
      background-color: rgba($green, 0.1);
    }
  }

.button {
  @include buttonBackground('tracks_off');
  &.visible {
    @include buttonBackground('tracks_on');
  }
  &.pinned {
    @include buttonBackground('tracks_pinned');
  }
}

div.loadingOverlay {
  background: none;
  z-index: 10;
  [class*=spinner] {
    height: 1rem;
    width: 1rem;
    &::after {
      background: none;
    }
  }
}