@use '../common/styles/buttons';
@use '../SubjectControls/mixins';
@use '../common/styles/vars/colors';

.container {
  &[class*="visible"] {
    border: 0.06px solid colors.$bright-blue;
    background-color: rgba(colors.$bright-blue, 0.1);
  }
  
  &[class*="pinned"] {
    border: 0.06px solid colors.$green;
    background-color: rgba(colors.$green, 0.1);
  }

  .button {
    &.normal {
      @include mixins.button-background('tracks_off');
    }

    &.transparent {
      @include mixins.button-background('tracks_off_transparent');
    }

    &.visible {
      @include mixins.button-background('tracks_on');
    }

    &.pinned {
      @include mixins.button-background('tracks_pinned');
    }
  }

}




div.loadingOverlay {
  background: none;
  z-index: 10;

  [class*="spinner"] {
    height: 1rem;
    width: 1rem;

    &::after {
      background: none;
    }
  }
}