@import '../common//styles/layout';

div.datepicker {
  left: 0;
  position: fixed;
  margin: unset;
  top: 0;
}

.linkLabel {
  align-items: flex-end;
  display: flex;
  margin-bottom: 0.25rem;
  a {
    margin-left: 0.25rem;
  }
}