@import '../common/styles/layout';
@import '../common/styles/inputs';

div.datepicker {
  left: 0;
  position: fixed;
  margin: unset;
  top: 0;
}

.linkLabel {
  align-items: flex-end;
  display: flex;
  margin-bottom: 0.25rem;
  a {
    margin-left: 0.25rem;
  }
}

.timeInput {
  border: 1px solid $light-gray-border;
  flex: 1;
  max-width: 47.5%;
}

.timeInputWrapper {
  position: relative;
  span {
    margin: 0 0.5rem;
  }
  svg {
    position: absolute;
    right: 0;
    top: 0;
  }
}