@import '../common//styles/layout';

.datepicker {
  width: 100%;
  [class*=react-datetime-picker__wrapper] {
    width: 100%;
  }
}

.linkLabel {
  align-items: flex-end;
  display: flex;
  margin-bottom: 0.25rem;
  a {
    margin-left: 0.25rem;
  }
}