.marker {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  img {
    max-height: 2.25rem;
    max-width: 2.25rem;
  }
  h6 {
    background: rgba(white, 0.5);
    font-size: 0.85rem;
    margin: 0.333rem 0 0;
    padding: 0.25rem;
  }
}