@use '../../../../../common/styles/buttons';
@use '../../../../../common/styles/vars/colors';
@use '../../../../shared';

.dateRangePopover {
  @include shared.filter-popover;

  .body {
    @include shared.filter-popover-body;

    .rangeSection {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;

      .rangeDescriptionRow {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        min-height: buttons.$chip-height-small;

        .rangeDescription {
          color: colors.$off-black;
          font-size: 0.875rem;
          font-weight: normal;
          margin: 0;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        .resetButton {
          @include buttons.chipTextButtonSmall;

          flex-shrink: 0;
        }
      }

      .dateField {
        display: flex;
        flex-direction: column;

        .label {
          @include shared.section-label;
        }

        .dateInputs {
          align-items: center;
          display: flex;
          gap: 0.75rem;

          .emptyEndDateMessage {
            color: colors.$link-color;
            flex-shrink: 0;
            font-size: 0.75rem;
          }
        }
      }
    }

    .presets {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0 0 1rem;

      .presetButton {
        @include buttons.chipTextButton;
      }
    }
  }
}
