.DS_Store

/.yarn/*
/build
/coverage
/node_modules
/.vscode
/.idea

public/config.js
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
