@import '../common/styles/vars/colors';

.dropdown {
  margin-right: 1rem;
  position: relative;
}

div.menu {
  padding: 0;
  width: 20rem;
}

.badge {
  bottom: 0;
  font-size: 0.5rem;
  height: 0.75rem;
  position: absolute;
  right: -0.25rem;
  width: 0.75rem;
}

.icon {
  height: 1.25rem;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
  width: 1.25rem;
}

.activeIcon {
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}


.item, .noItems {
  margin: 0;
  min-width: 16rem;
  max-width: 22rem;
  padding: 0.5rem 1rem;
  h6 {
    font-size: 0.9rem;
    white-space: normal;
  }
}

.noItems, .newsFetchErrorMessage {
  font-size: 0.9rem;
}

.item {
  display: flex;
  flex-flow: column;
  + .item {
    border-top: 1px solid $light-gray-border;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  width: 100%;
}

.button {
  margin: 0;
  + .button {
    margin-left: 0.5rem;
  }
}

.newsFetchErrorMessage {
  svg {
    fill: white;
  }
}