@use 'sass:color';

@use '../common/styles/vars/colors';

.switch {
  box-sizing: border-box;
  display: inline-flex;
  height: 2.5rem;
  overflow: hidden;
  padding: 0.875rem;
  position: relative;
  width: 4rem;

  &.checked {
    .base {
      color: colors.$bright-blue;
      transform: translateX(1.5rem);
    }

    .track {
      background-color: color.adjust(colors.$light-blue, $lightness: 20%);
    }
  }

  &.disabled {
    .base {
      color: colors.$very-light-gray;
      cursor: default;

      &:hover {
        background: none;
      }
    }

    .track {
      background-color: colors.$disabled-field-gray;
    }
  }

  &.readOnly {
    opacity: 0.85;

    .base {
      cursor: default;

      &:hover {
        background: none;
      }
    }
  }

  .base {
    align-items: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    left: 0;
    padding: 0.625rem;
    position: absolute;
    top: 0;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:has(input:focus-visible) {
      background: rgba(colors.$bright-blue, 0.16);
    }

    &:hover {
      background: rgba(colors.$bright-blue, 0.08);
    }

    input {
      cursor: inherit;
      height: 100%;
      left: -100%;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 300%;
    }

    .thumb {
      background-color: currentColor;
      border-radius: 50%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .track {
    background-color: colors.$secondary-light-gray;
    border-radius: 0.5rem;
    height: 100%;
    pointer-events: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
  }
}
