@import '../../common/styles/vars/colors';

.sectionHeader {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;

  .title {
    display: flex;
    align-items: center;
  
    h2 {
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0;
    }
  
    svg {
      color: $secondary-medium-gray;
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
