@import '../common/styles/vars/colors';
@import '../common/styles/layout';


.tab {
  // border-top: 3px solid $gray-border;
  height: 100%;
  overflow: hidden;
  &.mapLayers {
    overflow-y: scroll;
  }
}

.list {
  display: block;
  width: 100%;
  li { 
    align-items: flex-start;
    border-top: 1px solid $gray-border;
    &:first-of-type {
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid $medium-light-gray;
    }
    display: flex;
    flex-wrap: wrap;
    position: relative;
    > h5 {
      margin: 0 1rem;
      position: relative;
      top: 0.5rem;
    }
    [class*=checkmark] {
      cursor: pointer;
      left: 1rem;
      position: absolute;
      z-index: 1;
      top: 1rem;
    }
    [class*=Collapsible__trigger], .itemTitle {
      display: block;
      padding-left: 4rem;
      padding-right: 2rem;
      word-break: break-all;
      @media (min-width: $md-layout-width-min) {
        word-break: initial;
      }
    }
    [class*=Collapsible__trigger] {
      cursor: pointer;
      padding-bottom: 1rem;
      padding-top: 1rem;
      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: '>';
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        transform: scaleY(1.25) scaleX(0.75) rotate(-180deg);
        transition: 0.15s transform linear;
      }
      &[class*=is-open] {
        box-shadow: 0 2px 3px $medium-light-gray;
        &::after {
          transform: rotate(-270deg);
        }
      }
    }
    [class*=Collapsible__contentOuter] {
      width: 100%;
    }
  }
  .list {
    background: $light-gray-background;
    border-left: 0.5rem solid $gray-border;
  }
  .itemList {
    background: lighten($light-gray-background, 3.5%);
    width: 100%;
    &.compressed {
      li {
        padding: 0.5rem 0;
      }
    }
    li {
      padding: 1rem 0;
      > [class*=checkmark] {
        top: 0.75rem;
      }
    }
  }
}

.collapsed, .opened {
  width: 100%;
}

.opened {
  margin-bottom: 0;
}

.controls {
  margin: 1rem 0 0 4rem;
  button:not(:last-child) {
    margin-right: 0.5rem;
  }
  @media (min-width: $md-layout-width-min) {
    margin: 0;
    position: absolute;
    right: 1rem;
    top: 0.333rem;
  }
}

.trigger {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.featureTitle {
  @extend .trigger;
  align-items: center;
  padding-left: 4rem;
  width: 100%;
}

.addReportContainer {
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
}