@import '../common/styles/vars/colors';
@import '../common/styles/layout';


.tab {
  height: 100%;
  overflow: hidden;
  .mapLayers {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 4rem;
    > .noItems {
      visibility: hidden;
      font-size: .75rem;
      font-weight: bold;
      text-align: center;
      padding: 1rem;
    }
    > .noItems:only-child {
      visibility: visible;
    }
  }
}

.list {
  display: block;
  width: 100%;
  margin-bottom: 0;
  li { 
    align-items: flex-start;
    border-top: 1px solid $light-gray-border;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid $light-gray-border;
    }
    display: flex;
    flex-wrap: wrap;
    position: relative;
    h4, h5, h6 {
      margin: 0;
      font-weight: 600;
    }
    [class*=checkmark] {
      cursor: pointer;
      left: 1rem;
      position: absolute;
      z-index: 1;
      top: 1.15rem;
    }
    [class*=Collapsible__trigger], .itemTitle {
      display: block;
      padding-left: 3.5rem;
      padding-right: 2rem;
      word-break: break-all;
      @media (min-width: $md-layout-width-min) {
        word-break: initial;
      }
    }
    [class*=Collapsible__trigger] {
      cursor: pointer;
      padding-bottom: 1rem;
      padding-top: 1rem;
      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: '<';
        color: transparent;
        background-image: url(../common/images/icons/arrow.svg);
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 20%;
        transform: inherit;
        transition: 0.15s transform linear;
      }
      &[class*=is-disabled] {
        &::after {
          color: $medium-light-gray;
        }
      }
      &[class*=is-open] {
        box-shadow: 0 2px 3px $medium-light-gray;
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
    [class*=Collapsible__contentOuter] {
      width: 100%;
    }
  }
  .list {
    background: $light-gray-background;
    border-left: 0.5rem solid $light-gray-border;
  }
  .itemList {
    background: lighten($light-gray-background, 3.5%);
    width: 100%;
    &.compressed {
      li {
        padding: 0.5rem 0;
      }
    }
    li {
      padding: 1rem 0;
      > [class*=checkmark] {
        top: 1rem;
      }
    }
  }
  .reportDesc {
    background: lighten($light-gray-background, 3.5%);
    width: 100%;
  }
}

.controls {
  margin: 1rem 0 0 4rem;
  button:not(:last-child) {
    margin-right: 0.5rem;
  }
  @media (min-width: $md-layout-width-min) {
    margin: 0;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
  }
}

.toggleButton {
  margin: -0.5rem 0;
}

.trigger {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
}

.featureTitle {
  @extend .trigger;
  align-items: center;
  padding-left: 3.5rem;
  width: 100%;
}

.analyzerTitle {
  display: block;
  padding-left: 3.5rem;
  padding-right: 2rem;
  width: 100%;
}

.addReportContainer {
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  [role=tooltip] {
    left: -27rem;
  }
}

.sidebarOpen {
  .addReportContainer {
    [role=tooltip] {
      left: -1rem;
    }
  }
}

.mapLayerFooter {
  background-color: $map-layers-footer;
  height: 3rem;
  width:100%;
  text-align:left;
  position: absolute;
  bottom: 0;
  z-index: 3;
  a {
      margin-left: .5rem;
  }
}