.list {
  display: block;
  width: 100%;
  li { 
    align-items: center;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    padding: 1rem 0;
    > h2, h4, svg {
      margin: 0 1rem;
    }
  }
}