@import '../common/styles/vars/colors';
@import '../common/styles/inputs';

$background_image_url: '../common/images/icons/';
  
.inputWrapper {
  position:relative;
  
  svg:first-child {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:0.125rem;
    transform: translateY(-50%);
    > g {
      stroke: $secondary-medium-light-gray;
    }
  }

  svg:not(:first-child) {
    height: 0.6rem;
    width: 0.6rem;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:5.187rem;
    transform: translateY(-50%);
    path {
      fill: $secondary-light-gray;
    }
  }
}

.timeInput {
  @include defaultTextInput;
  font-size: 0.875rem;
  padding-left: 1.5rem;
  width: 6.25rem;

  &::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
}

.popoverOptions {
  margin: 0rem;
  border: none;
  inset: 0.5rem auto auto 0rem !important;
  box-shadow: 0rem 0rem 0.937rem rgba(0, 0, 0, 0.25);

  > ul {
    margin-bottom: 0rem;
  }

  > div:first-child {
    display: none;
  }
  
  .timeOption {
    min-width: 6.25rem;
    padding: 0.125rem 0.562rem;
  
    > span:not(:first-child){
      color: $secondary-medium-light-gray;
    }
  }
}
