@import '../common/styles/vars/colors';
@import '../common/styles/animations';
@import '../common/styles/buttons';
@import '../common/styles/layout';

.listItem {
  align-content: center;
  color: $primary-font-color;
  display: flex;
  line-height: normal;
  padding: 0 1rem 0 0;
  &:first-child {
    @include slide-down;
  }
  + .listItem {
    border-top: 1px solid $medium-light-gray;
  }
  > * {
    padding: 0.75rem 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  > [class*=jump] {
    padding-right: 0;
  }
}

.loadMessage {
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

@each $priority,
$colors in $priorities {
  .priority-#{$priority} {
    $background-color: map-get($colors, 'background');

    background-color: $background-color;
    &:hover {
      background-color: lighten($background-color, 5%);
    }
    .icon {
      $color: map-get($colors, 'base');

      background-color: $color;
      &:hover {
        background-color: lighten($color, 4%);
      }
     
    }
  }
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  svg, svg > svg {
    fill: white;
    height: 2rem;
    width: 2rem;
  }
}

ul.scrollContainer {
  height: 100%;
  overflow-y: auto;
}

.date {
  align-items: flex-end;
  flex-flow: column;
  margin-left: auto;
  padding-right: 0;
  text-align: right;
}

.loadingOverlay {
  background: none;
}

.title {
  text-align: left;
  &:hover {
    text-decoration: underline;
  }
}

.title, .icon {
  @include unstyledButton;
}

.serialNumber {
  display: none;
  padding-left: 0.5rem;
  padding-right: 0;
  @media (min-width: $md-layout-width-min) {
    display: flex;
  }
}


.jump button {
  background:  rgba($medium-light-gray, 0.15) url('../common/images/icons/marker-feed.svg') .7rem no-repeat;
  background-size: 1rem;
  border: none;
  border-radius: .25rem;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
  &:hover {
    background-color: rgba(darken($medium-light-gray, 15%), 0.18);
  }
}