@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.globalMenuDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $off-black;
  color: white;
  width: 100vw;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
  }

  @media (min-width: $lg-layout-width-min) {
    width: 18.75rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1.5rem 1rem;

  .logo {
    width: 8.75rem;
  }

  @media (min-width: $lg-layout-width-min) {
    padding: 1.5rem 1rem;
  }
}

.navigation {
  padding: 0 1rem 0.5rem;

  button {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    color: white;

    span {
      margin-left: 1rem;
    }
  }
}

.content {
  height: calc(100% - 11rem);
}

.section {
  border-top: 1px solid $secondary-medium-gray;
  padding: 1rem 1rem 0.5rem;

  h6 {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    color: $secondary-light-gray;
  }

  button {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $lg-layout-width-min) {
    padding: 1rem 1.5rem 0.5rem;
  }
}

.footer {
  font-size: 0.6875rem;
  padding: 0.5rem;
}

.releaseVersions {
  margin-bottom: 0;
  margin-left: 0.333rem;
}

.policies {
  display: flex;
  flex-wrap: wrap;
  line-height: normal;
  margin-top: 1rem;
  width: 100%;
  li {
    font-weight: 500;
    padding: 0 0.333rem;
    white-space: nowrap;
    &:not(:last-child) {
      border-right: 1px solid white;
    }
  }
  a {
    color: white;
  }
}