@import '../../common/styles/vars/colors';
@import '../../common/styles/layout';

.planTab {
  margin-bottom: 3rem;
}

.trackedByLabel {
  margin-top: 1rem;
  width: 65%;
  position: relative;
  color: $secondary-medium-gray;

  &.loading {
    cursor: not-allowed;
    pointer-events: none;
  }

  .loadingTrackedBy {
    background: none;
    z-index: 1000;
    [class*=spinner] {
      height: 1.5rem;
      right: 1.4rem;
      position: absolute;
      width: 1.5rem;
      right: 3.125rem;
      top: 1.875rem;
    }
  }
}

.objectiveLabel {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 1.3rem;
  color: $secondary-medium-gray;

  > textarea {
    min-height: 2.375rem;
    font-size: 1rem;
    margin-top: 0.75rem;
  }
}

.timeLocationRow {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  .dateLabel {
    width: 10.875rem;
    font-size: 0.875rem;
    margin-top: 1.3rem;
    color: $secondary-medium-gray;
    @media (max-width: $md-layout-width-min) {
      width: 8.75rem;
    }
  }

  .timeLabel {
    width: 6.375rem;
    font-size: 0.875rem;
    margin-top: 1.3rem;
    color: $secondary-medium-gray;
    @media (max-width: $md-layout-width-min) {
      width: 5.5rem;
    }
  }

  .locationLabel {
    width: 16.875rem;
    margin-left: auto;
    position: relative;
    margin-top: 1.3rem;
    font-size: 0.875rem;
    color: $secondary-medium-gray;
    @media (max-width: $md-layout-width-min) {
      width: 6.875rem;
    }
  }

  .triangle{
    position: absolute;
    top: 2.18rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-width: 0.375rem 0.25rem 0 0.25rem;
    border-color: $secondary-medium-light-gray transparent transparent transparent;
    border-style: solid;
    margin-left: 0.25rem;
    @media (max-width: $md-layout-width-min) {
      right: 3.625rem;
    }
  }
}

.patrolDatepicker {
  font-size: 1rem;
  min-width: 100%;

  @media (max-width: $md-layout-width-min) {
    min-width: 8.75rem;
  }
}

.locationInput {
  font-size: 1rem;
  color: black;
  letter-spacing: 0.05rem;
  width: 100%;
  
  > div {
    padding: 0.25rem 0 0.187rem;

    > svg {
      margin-left: 0.187rem;
      padding: 0.25rem;

      g {
        stroke: $medium-light-gray; 
      }

      path {
        fill: $medium-light-gray;
      }
    }
  }

  > button {
    padding-right: 0.562rem;
    > svg {
      height: 16px !important;
      margin-right: 0.25rem;
    }
  }

  @media (max-width: $md-layout-width-min) {
    width: 55%;
    
    > div {
      padding: 0.5rem 0.25rem;
      > svg {
        padding: 0;
      }
    }
    span {
      display: none;
    }
  }
}

.autoFieldCheckbox {

  > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
  }

  > span {
    position: relative;
    font-size: 0.875rem;
    color: $secondary-medium-gray;

    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      margin: 0.37rem 0.562rem 0rem 0.06rem;
      border: solid 0.125rem;
      border-color: $secondary-medium-gray;
      border-radius: 0.125rem;
      width: 0.875rem;
      height: 0.875rem;
      vertical-align: top;
      transition: border-color 0.2s, background-color 0.2s;
    }
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0.0625rem;
      width: 0.625rem;
      height: 0.312rem;
      border: solid 0.125rem transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
    }
  }
}

.autoFieldCheckbox > input:checked {
    background-color: $light-blue;
}

.autoFieldCheckbox > input:checked + span::before {
    border-color: $light-blue;
    background-color: $light-blue;
}

.autoFieldCheckbox > input:checked + span::after {
    border-color: white;
}

.autoFieldCheckbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.autoFieldCheckbox > input:active + span::before {
  border-color: $light-blue;
}

.autoFieldCheckbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

.autoFieldCheckbox > input:disabled {
  opacity: 0;
}

.autoFieldCheckbox > input:disabled + span {
  color: $secondary-medium-gray;
  cursor: not-allowed;
}