@import '../../common/styles/vars/colors';

.trackedByLabel {
  margin-top: 1rem;
  width: 65%;
  position: relative;
  color: $secondary-medium-gray;

  &.loading {
    cursor: not-allowed;
    pointer-events: none;
  }

  .loadingTrackedBy {
    background: none;
    z-index: 1000;
    [class*=spinner] {
      height: 1.5rem;
      right: 1.4rem;
      position: absolute;
      width: 1.5rem;
      right: 3.125rem;
      top: 1.875rem;
    }
  }
}

.objectiveLabel {
  width: 100%;
  font-size: 1.12rem;
  font-weight: 500;
  margin-top: 1.2rem;

  > textarea {
    height: '4.25rem';
  }
}