@use 'sass:color';

@use '../../../../../common/styles/vars/colors';
@use '../../../../../common/styles/layout';

.instructions {
  color: colors.$off-black;
  margin-bottom: 0;
  margin-top: 2rem;
}

.searchBar {
  background: white;
  margin-bottom: 0.5rem;
}

.resultsTable {
  background: white;
  border: 1px solid colors.$light-gray-lines;
  border-collapse: separate;
  border-radius: 0.5rem;
  border-spacing: 0;
  font-size: 0.875rem;
  overflow: hidden;
  width: 100%;

  .codeColumn {
    width: 20%;

    @media (min-width: layout.$md-layout-width-min) {
      width: 13%;
    }
  }

  .nameColumn {
    width: 55%;

    @media (min-width: layout.$md-layout-width-min) {
      width: 30%;
    }
  }

  .areaColumn {
    width: 0;

    @media (min-width: layout.$md-layout-width-min) {
      width: 40%;
    }
  }

  .actionColumn {
    width: 25%;

    @media (min-width: layout.$md-layout-width-min) {
      width: 17%;
    }
  }

  thead {
    background: colors.$very-light-gray;
    color: colors.$secondary-medium-gray;
  }

  th, td {
    border-bottom: 1px solid colors.$light-gray-lines;
    font-weight: 400;
    padding: 0.5rem;

    &.areaCell {
      display: none;

      @media (min-width: layout.$md-layout-width-min) {
        display: table-cell;
      }

      .readMoreLessButton {
        background: none;
        border: none;
        border-radius: 0.25rem;
        color: colors.$bright-blue;
        display: block;
        padding: 0 0.125rem;

        &:hover {
          text-decoration: underline;
        }

        &:focus-visible {
          outline: 2px solid colors.$bright-blue;
        }
      }
    }

    &:last-child {
      text-align: center;
    }

    .addButton {
      background-color: colors.$very-light-blue;
      border: none;
      border-radius: 0.25rem;
      color: colors.$bright-blue;
      font-size: 1rem;
      font-weight: 500;
      height: 2.25rem;
      outline: none;
      padding: 0 0.75rem;

      &:hover {
        background-color: color.adjust(colors.$very-light-blue, $lightness: -5%);
      }

      &:focus-visible {
        outline: 2px solid colors.$bright-blue;
      }
    }

    .emptyState {
      font-size: 1rem;
      padding: 0.5rem;

      .message {
        color: colors.$secondary-medium-gray;
        display: block;
        font-size: 0.875rem;
        margin-top: 0.5rem;
      }
    }
  }
}

.crsFinderMessage {
  color: colors.$secondary-medium-gray;
  font-size: 0.875rem;
  margin-bottom: 0;
  margin-top: 0.25rem;
}
