
@import '../common/styles/vars/colors';
@import '../common/styles/buttons';

.wrapper {
  position: relative;
}

.button {
  @include mapboxControlButton;
  svg path {
    fill: #333;
  }
}


.popup {
  background: none;
  border: none;
  max-width: 26rem;
  // overflow: hidden;
  width: 90vw;
  [class*=popover-body] {
    padding: 0;
  }
}

.layerList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  li {
    align-self: stretch;
    border: thin solid $light-gray-border;;
    margin: -1px -1px;
    text-align: center;
    width: calc(100%/3);
    button {
      $hover: white;
      background: rgba($hover, 0.8) !important;
      @include unstyledButton;
      align-items: center;
      display: flex;
      height: 100%;
      flex: 1;
      flex-flow: column;
      font-weight: bold;
      font-size: 0.85rem;
      justify-content: space-evenly;
      line-height: normal;
      padding: 0.5rem;
      transition: background 0.2s linear;
      width: 100%;
      &[type=button]:first-child { /* the first-child selector is a selector specificity */
        &:hover, &:active {
          background: rgba(darken($hover, 2%), 0.925) !important;
          text-decoration: underline;
        }
        &.active {
          background: $hover !important;
        }
      }
    }
  }
  img {
    margin-bottom: 0.25rem;
    max-height: 2.5rem;
    max-width: 6rem;
  }
}
