@keyframes palpitate {
  0%,
  100% {
    opacity: 0.45;
    transform: scale(0.985);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100000;
}

.logo {
  animation: palpitate 2s ease-in-out infinite;
  max-height: 14.4rem;
  max-width: 14.4rem;
}
