@import '../common/styles/inputs';
@import '../common/styles/vars/colors';

.header {
  display: flex;
  border-bottom: 0.0625rem solid $light-gray;
  justify-content: space-between;
  padding: 0.5rem;

  > button {
    align-items: center;
    background-color: transparent;
    color: $secondary-medium-light-gray;
    display: flex;
    border: none;

    &:hover {
      background-color: $blue-highlight;
    }
  }

  .headerTitle {
    align-items: center;
    color: black;
    display: flex;
    font-size: 0.875rem;
    justify-content: center;

    [class*=triangle] {
      margin-left: 0.25rem;
    }

    &:hover {
      cursor: pointer;
    }

    &.customMonthYearPickerHeaderTitle {
      &:hover {
        cursor: unset;
      }
    }
  }
}

.input {
  @include defaultTextInput;

  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 2.5rem;
  justify-content: space-between;
  min-width: 10.625rem;
  padding: 0.5rem;
  width: 100%;

  svg {
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
  }

  span {
    width: 100%;
    text-align: left;
∫
    .placeholder {
      color: $secondary-medium-light-gray;
    }
  }
}

.triangle {
  border-width: 0.375rem 0.25rem 0 0.25rem;
  border-color: $secondary-medium-light-gray transparent transparent transparent;
  border-style: solid;
  margin-left: 1rem;

  &.open {
    transform: rotate(180deg);
  }
}
