@use "sass:color";

@use '../common/styles/inputs';
@use '../common/styles/vars/colors';

.datePicker {
  align-items: center;
  background: white;
  border: 1px solid colors.$light-gray-border;
  border-radius: 0.25rem;
  display: flex;
  height: 2.5rem;
  min-width: 10rem;
  padding: 0.25rem 0.5rem;
  width: 10rem;

  &:focus-within:not(.disabled) {
    border: 2px solid colors.$bright-blue;
  }

  &[aria-invalid="true"] {
    border-color: colors.$bright-red;

    > svg {
      color: colors.$bright-red;
    }

    > [class*=react-datepicker-wrapper] [class*=caret] {
      border-top-color: colors.$bright-red;
    }

    ::placeholder {
      color: color.adjust(colors.$bright-red, $lightness: 33%);
    }
  }

  &.disabled {
    background-color: colors.$disabled-field-gray;
    pointer-events: none;
  }

  .calendarIcon {
    color: colors.$secondary-medium-gray;
    height: 1.125rem;
    width: 1.125rem;
  }

  .yearInput {
    background-color: transparent;
    border: none;
    flex: 3;
    margin-left: 0.25rem;
    min-width: 0;
    outline: none;
    padding: 0;
    text-align: center;
  }

  .dateSeparator {
    margin: 0;
  }

  .monthInput {
    background-color: transparent;
    border: none;
    flex: 2;
    min-width: 0;
    outline: none;
    padding: 0;
    text-align: center;
  }

  .dayInput {
    background-color: transparent;
    border: none;
    flex: 2;
    margin-right: 0.25rem;
    min-width: 0;
    outline: none;
    padding: 0;
    text-align: center;
  }
}
