.popup {
  max-width: 22rem !important;
  
  [class*=mapboxgl-popup-tip] {
    border-width: 5px;
    visibility: hidden;
  }
  
  [class*=mapboxgl-popup-content] {
    background: white;
    padding: 0.5rem;
    width: auto;

    [class*=gps-format-toggle] {
      fieldset {
        label {
          font-size: 0.75rem;
        }
      }
    }
  }
}
