@import '../common/styles/buttons';

.mapControl {
  @include mapboxControlButton;
  font-size: 0;
}

.buttons {
  align-items: center;
  display: flex;
  button {
    flex-shrink: 0;
  }
  button + button {
    margin-left: 0.25rem;
  }
}

/* --- OLD NAVIGATION STUFF STARTS HERE --- */
.oldNavigationButtons {
  align-items: center;
  display: flex;
  button {
    flex-shrink: 0;
  }
  button + button {
    font-size: 0.75rem;
    margin-left: 0.25rem;
    padding: 0.25 0.5rem;
  }
}
/* --- OLD NAVIGATION STUFF ENDS HERE --- */
