@use '../common/styles/buttons';

.mapControl {
  @include buttons.mapbox-control-button;

  font-size: 0;
}

.buttons {
  align-items: center;
  display: flex;

  button {
    flex-shrink: 0;
  }

  button + button {
    margin-left: 0.25rem;
  }
}
