@import '../common/styles/inputs';
@import '../common/styles/vars/colors';

.container {
  position: relative;
}

div.popover {
  max-width: unset;
  width: 23rem;
  [class*='react-calendar '] {
    border: none;
    box-shadow: none;
    padding: 0;
  }
}

.button {
  text-align: left;
  @include defaultTextInput;
  padding: 0.5rem;
  position: relative;
  text-align: left;
  width: 100%;
  height: 2.4375rem;
  vertical-align: middle;
  &.empty {
    color: $light-font-color;
  }
}

[type=text].invalidInput {
  border: 1px solid $bright-red;
}

.clearIcon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 1rem;
&:hover * {
    stroke: $highlight-color;
  }
}