@import 'vars/colors';

$default-border: 1px solid $light-gray-border;

@mixin defaultTextInput($addBorder: true) {
  background: white;
  outline: none;
  padding: 0.25rem;

  @if $addBorder {
    border: $default-border;
    border-radius: 0.2rem;
  }
  @else {
    border: none;
  }
}