$lg-layout-width-max: calc(#{$xl-layout-width-min} - 1px);
$lg-layout-width-min: 48rem;
$md-layout-width-max: calc(#{$lg-layout-width-min} - 1px);
$md-layout-width-min: 31.75rem;
$xl-layout-width-min: 67.3125rem;

$sm-height-max: 31.25rem;
$md-height-min: 31.3125rem;
$md-height-max: 48.8125rem;
$lg-height-min: 48.875rem;

// media query shorthands
$whenPageIsMediumHeightAndWidth: '(min-height: #{$md-height-min}) and (min-width: #{$md-layout-width-min})';
$whenPageIsTallAndMediumWidth: '(min-width: #{$md-layout-width-min}) and (min-height: #{$lg-height-min})';
$whenPageIsIsTallAndWide: '(min-width: #{$lg-layout-width-min}) and (min-height: #{$lg-height-min})';


/* webpack export statement exposes these variables to our JS files */
:export {
  extraLargeWidthMin: $xl-layout-width-min;
  largeHeightMin: $lg-height-min;
  largeWidthMin: $lg-layout-width-min;
  mediumHeightMax: $md-height-max;
  mediumHeightMin: $md-height-min;
  mediumWidthMin: $md-layout-width-min;
  mediumWidthMax: $md-layout-width-max;
  pageIsAtMediumHeightAndWidth: $whenPageIsMediumHeightAndWidth;
  pageIsTallAndMediumWidth: $whenPageIsTallAndMediumWidth;
  pageIsTallAndWide: $whenPageIsIsTallAndWide;
  smallHeightMax: $sm-height-max;
}