@use 'vars/colors';

@mixin priority300 {
  background-color: colors.$high-priority;
}

@mixin priority200 {
  background-color: colors.$medium-priority;
}

@mixin priority100 {
  background-color: colors.$low-priority;
}

@mixin priority0 {
  background-color: colors.$no-priority;
}
