@import './_layout.scss';

/* webpack export statement exposes these variables to our JS files */

/* we have to do this in a separate *.module.scss file because of this bug https://github.com/facebook/create-react-app/issues/10047 */
:export {
  extralargewidthmin: $xl-layout-width-min;
  largeheightmin: $lg-height-min;
  largewidthmin: $lg-layout-width-min;
  mediumheightmax: $md-height-max;
  mediumheightmin: $md-height-min;
  mediumwidthmin: $md-layout-width-min;
  mediumwidthmax: $md-layout-width-max;
  pageisatmediumheightandwidth: $whenPageIsMediumHeightAndWidth;
  pageistallandmediumwidth: $whenPageIsTallAndMediumWidth;
  pageistallandwide: $whenPageIsIsTallAndWide;
  smallheightmax: $sm-height-max;
}
