@import '../common/styles/vars/colors';

.container {
  display: flex;
  flex-flow: column;
  line-height: normal;
  white-space: nowrap;
  font-style: italic;
  color: $secondary-medium-gray;
}

.date {
  font-size: .7rem;
}

.elapsed {
  font-size: .65rem;
}