@use '../common/styles/vars/colors';

.dateTime {
  color: colors.$secondary-medium-gray;
  display: flex;
  flex-flow: column;
  line-height: normal;
  white-space: nowrap;

  .date {
    font-size: .75rem;
  }

  .timeAgo {
    font-size: .75rem;
  }
}
