@import '../common/styles/vars/colors';

.container {
  display: flex;
  flex-flow: column;
  line-height: normal;
  white-space: nowrap;
  color: $secondary-medium-gray;
}

.date {
  font-size: .75rem;
}

.elapsed {
  font-size: .75rem;
}

/* --- OLD NAVIGATION STUFF STARTS HERE --- */
.oldNavigationDate {
  font-size: .7rem;
}

.oldNavigationElapsed {
  font-size: .65rem;
}
/* --- OLD NAVIGATION STUFF ENDS HERE --- */
