@use 'sass:color';

@use '../common/styles/vars/colors';

.dateTimePicker {
  display: flex;

  &[aria-invalid="true"] {
    .datePicker {
      > svg {
        color: colors.$bright-red;
      }

      > [class*=react-datepicker-wrapper] [class*=caret] {
        border-top-color: colors.$bright-red;
      }

      ::placeholder {
        color: color.adjust(colors.$bright-red, $lightness: 33%);
      }
    }

    .datePicker:not(:focus-within) {
      border-color: colors.$bright-red;
    }

    .timePicker {
      svg > g {
        stroke: colors.$bright-red;
      }
  
      button > div {
        border-top-color: colors.$bright-red;
      }
  
      ::placeholder {
        color: color.adjust(colors.$bright-red, $lightness: 33%);
      }
    }

    .timePicker:not(:focus-within) {
      border-color: colors.$bright-red;
    }
  }

  .datePicker {
    margin-right: 0.5rem;
  }
}
