@import '../common/styles/buttons';
@import '../common/styles/popovers';
@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.addReport {
  @include unstyledButton;
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
  justify-content: center;
  position: relative;
  @media (min-width: $md-layout-width-min) {
    font-size: 1rem;
  }
  svg {
    height: 1.25rem;
    margin-bottom: 0.25rem;
    width: 1.25rem;
    @media (min-width: $md-layout-width-min) {
      height: 2rem;
      width: 2rem;
    }
  }
}

.categoryMenu, .reportTypeMenu {
  align-items: center;
  display: flex;
  line-height: normal;
  margin-bottom: 0;
  width: 100%;
  button {
    @include unstyledButton;
    font-weight: bold;
  }
}


.activeCategory {
  text-decoration: underline;
}

div.popover {
  padding: 0;
  width: 20rem;
  max-width: unset;
  @media (min-width: $md-layout-width-min) {
    width: 28rem;
  }
  [class*=popover-body] {
    align-items: center;
    display: flex;
    flex-flow: column;
    max-height: 18rem;
    padding: 0;
    position: relative;
    @media (min-height: $lg-height-min) {
      max-height: 26rem;
    }
  }
  [class*=popover-header] {
    @include popoverTitle;
  }
}

.categoryMenu {
  background: $light-gray-background;
  font-size: 0.75rem;
  padding: 0.5rem;
  top: 0;
  z-index: 1;
  @media (min-width: $md-layout-width-min) {
    font-size: 1rem;
  }
  li {
    flex: 1;
    text-align: center;
  }
  button {
    padding: 0;
  }
}

.reportTypeMenu {
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
  li {
    font-size: 0.8rem;
    height: 6rem;
    margin-bottom: auto;
    width: 25%;
  }
  button {
    border: thin solid $light-gray-border;
    height: 100%;
    width: 100%;
    &:hover {
      text-decoration: underline;
    }
    span {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }
  svg {
    --dimensions: 1.666rem;
    height: var(--dimensions);
    margin-bottom: .25rem;
    width: var(--dimensions);
  }
}