@import '../common/styles/buttons';
@import '../common/styles/popovers';
@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.addReport-primary {
  @include addButton;

  svg {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: unset;

    path {
      stroke: currentColor;
      fill: currentColor;
    }

    rect {
      fill: currentColor;
    }
  }
}

.addReport-secondary {
  @include addButton;
}

.categoryTitle {
  background: $light-gray-background;
  line-height: normal;
  margin: 0;
  padding: 0.25rem 1rem;
}

div.popover {
  border-radius: 0.5rem;
  padding: 0;
  max-width: 20rem;
  width: 100vw;

  @media (min-width: $md-layout-width-min) {
    max-width: 30rem;
  }

  [class*=popover-body] {
    align-items: center;
    display: flex;
    flex-flow: column;
    max-height: 29rem;
    padding: 0;
    position: relative;
  }

  [class*=popover-header] {
    @include popoverTitle;
  }

  [class*=tab-content] {
    width: 100%;
  }
}

.reportTypeSearchControls {
  align-items: center;
  display: flex;
  margin: 0.5rem 0;
  padding: 0 1rem;

  > * {
    flex-grow: 1;
  }
}

.quickJumpSelect {
  margin-left: 1rem;
}

nav.tabBar {
  $tab-header-color: $bright-blue;

  width: 100%;

  [class*=nav-link] {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 1;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;

    &:only-child {
      cursor: default;
      pointer-events: none;
    }

    &:not([class*=active]),
    &:only-child {
      background: $tab-header-color;
      color: white;
    }

    &[class*=active]:not(:only-child) {
      background: white;
      color: $tab-header-color;
    }
  }
}

.tab {
  text-transform: uppercase;
}

.search {
  margin-bottom: 0;
  max-width: 13rem;

  input {
    height: 2.275rem;
  }

  > svg {
    top: 0.666rem;
  }

  > button {
    top: 0.6rem;
  }
}

.reportTypeContainer {
  height: 23rem;
  overflow-y: auto;
}

.reportTypeMenu {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  line-height: normal;
  margin-bottom: 0;
  width: 100%;

  &:first-child {
    border-top: thin solid $light-gray-border;
  }

  li {
    font-size: 0.8rem;
    height: 6rem;
    margin-bottom: auto;
    width: 25%;
  }

  button {
    @include unstyledButton;

    font-weight: bold;
    border: thin solid $light-gray-border;
    border-top: none;
    height: 100%;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:active {
      border: thin solid $light-gray-border;
      border-top: none;
    }

    span {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }

  svg {
    --dimensions: 1.666rem;

    height: var(--dimensions);
    margin-bottom: 0.25rem;
    width: var(--dimensions);
  }
}
