.icon {
  max-height: 94%;
  max-width: 94%;
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  .wrapper {
    position: absolute;
  }
}

.spinner {
  height: 50%;
  width: 50%;
}

.child {
  left: 20%;
  max-height: 50%;
  max-width: 50%;
  position: absolute;
  top: 35%;
  z-index: 2;
}