@import '../common/styles/vars/colors';
@import '../common/styles/layout';
@import '../common/styles/popovers';

.dropdown {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: end;
}

.listItem {
  padding-left: 1.62rem;
}

.toggle {
  &::after {
    display: none;
  }
  svg {
    font-size: 0.875rem;
    margin-right: 0.2rem;
  }

}

.sortDirection {
  margin-left: 0.125rem;
  svg {
    margin-bottom: 0.2rem;
  }
}

.columnWrapper {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
  a, button {
    font-size: 0.8rem;
  }
}


.popoverTrigger {
  svg {
    height: 0.875rem;
    width: 0.875rem;
    margin-right: 0.2rem;

    * {
      stroke: gray;
    }
  }

  &[class*=btn-primary] {
    svg {
      * {
        stroke: white;
      }
    }
  }
}


.sortPopover {
  > [class*=arrow]::after {
    border-bottom-color: $popover-header-color;
  }

  [class*=popover-header] {
    background: $highlight-color;
    color: white;
    padding: 1rem;

    &::before {
      display: none;
    }
  }
}

div.sortPopover {
  --content-height: 32rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  max-height: var(--content-height);
  max-width: 15rem;
  width: 90vw;

  &[class*=bs-popover-bottom] {
    @media (min-width: $md-layout-width-min) {
      margin-left: -5rem;

      > [class*=arrow] {
        margin-left: 5rem;
      }
    }
  }

  [class*=popover-body] {
    margin-top: -0.125rem;
    overflow: hidden;
    padding: 0;
  }

  [class*=Collapsible__trigger] {
    cursor: pointer;
  }

  &.filters {
    overflow: hidden;
  }
}

.popoverTitle {
  align-items: center;
  display: flex;
  line-height: normal;
  width: 100%;

  button {
    margin-left: auto;
  }
}

.popoverTitle {
  --dimensions: 1.5rem;

  background: $highlight-color;

  svg {
    height: var(--dimensions);
    margin-right: 1rem;
    width: var(--dimensions);

    * {
      stroke: white;
    }
  }
}

.sortList {
  padding: 0rem;
}

.listItem:not(:first-child) {
  border: none;
} 

.listItem {
  &:first-child {
    border: none;
    border-top: 0.063rem solid #C8C8C8;
    border-radius: 0rem;
  }
  
  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

  



.checkIcon {
  margin-left: -1.2rem;
    margin-right: 0.4rem;
  margin-bottom: .05rem;
  --dimensions: .95rem;
  // fill: none;
  flex-shrink: 0;
  height: var(--dimensions);
  width: var(--dimensions);
  stroke:  $off-white;
  stroke-width: calc(var(--dimensions)/2);
}