@use "sass:color";

@use "../../../../../common/styles/vars/colors";

.numeric {

  .label {
    color: colors.$secondary-medium-gray;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.125rem;

    &.error {
      color: colors.$bright-red;
    }
  }

  .numInput {
    width: 100%;
    height: 2.5rem;

    &:focus {
      border: 2px solid colors.$bright-blue;
    }

    &[aria-invalid="true"] {
      border-color: colors.$bright-red;

      &::placeholder {
        color: color.adjust(colors.$bright-red, $lightness: 33%);
      }
    }
  }

  .description {
    color: colors.$alt-light-gray;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.125rem 0 0;

    &.error {
      color: colors.$bright-red;
    }
  }
}
