@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.patrolDrawer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  min-width: 3rem;
  background-color: $secondary-medium-gray;
  
  @media (min-width: $md-layout-width-min) {
    min-width: 4.5rem;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    height: 3rem;
    padding: 0;
    border-bottom: 1px solid rgba(177, 179, 179, 0.25);

    svg {
      color: white;
      
      @media (min-width: $md-layout-width-min) {
        margin-bottom: 0.5rem;
      }
    }

    span {
      display: none;

      @media (min-width: $md-layout-width-min) {
        display: block;
      }
    }

    &[class*=active] {
      color: $bright-blue !important;
      background-color: $very-light-blue !important;
      font-weight: bold;

      svg {
        color: $bright-blue;
      }
    }

    @media (min-width: $md-layout-width-min) {
      height: 5.5rem;
    }
  }
}

.content {
  overflow-x: hidden;
  padding: 1.125rem;
}

.footer {
  display: flex;
  padding: 0.875rem 1rem;
  margin-left: 3rem;
  border-top: 1px solid $very-light-gray-alt;
  width: 100%;
  position: absolute;
  bottom: 0;

  @media (min-width: $md-layout-width-min) {
    margin-left: 4.5rem;
  }
}

.exitButton {
  background-color: $secondary-medium-light-gray;
  border-color: $secondary-medium-light-gray;
  width: 5rem;
}
