@use 'sass:color';

@use '../../../../../common/styles/vars/colors';
@use '../../../../../common/styles/layout';
@use '../../_shared' as shared;

.legTableWrapper {
  margin-bottom: 0.5rem;
  overflow-x: auto;

  .legTable {
    background: white;
    border: 1px solid colors.$light-gray-lines;
    border-collapse: separate;
    border-radius: 0.25rem;
    border-spacing: 0;
    font-size: 0.875rem;
    overflow: hidden;
    width: 100%;

    @media (max-width: layout.$sm-layout-width-max) {
      width: max-content;
    }

    th, td {
      border-bottom: 1px solid colors.$light-gray-lines;
      padding: 0.5rem;
      text-align: left;
      vertical-align: middle;

      @media (max-width: layout.$sm-layout-width-max) {
        white-space: nowrap;
      }
    }

    thead th {
      color: colors.$secondary-medium-gray;
      font-weight: 400;
      padding: 0.375rem 0.5rem;
    }

    .legRow {
      cursor: pointer;

      &:hover:not(:has(.zoomToLegBoundsButton:hover)) {
        background: colors.$blue-highlight;
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }

      .fullDate {
        @media (max-width: layout.$sm-layout-width-max) {
          display: none;
        }
      }

      .legActionsColumn {
        display: flex;
        gap: 0.25rem;
        white-space: nowrap;

        .viewLegButton {
          @include shared.icon-button;

          height: 1.75rem;
          width: 1.75rem;

          @media (max-width: layout.$sm-layout-width-max) {
            display: none;
          }

          svg {
            height: 0.75rem;
            width: 0.75rem;
          }

          &:hover {
            background: none;
          }
        }

        .zoomToLegBoundsButton {
          @include shared.icon-button;

          height: 1.75rem;
          width: 1.75rem;
        }
      }

      .simplifiedDate {
        display: none;

        @media (max-width: layout.$sm-layout-width-max) {
          display: inline;
        }
      }

      .teamColumn {
        align-items: center;
        display: flex;
        gap: 0.375rem;
      }
    }
  }
}

.newLegButton {
  align-items: center;
  background-color: colors.$very-light-blue;
  border: none;
  border-radius: 0.25rem;
  color: colors.$bright-blue;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.375rem;
  height: 2.25rem;
  margin-bottom: 1rem;
  padding: 0 0.75rem;
  text-decoration: none;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background-color: color.adjust(colors.$very-light-blue, $lightness: -5%);
  }

  &:focus-visible {
    outline: 2px solid colors.$bright-blue;
  }
}
