@use '../../../../../common/styles/buttons';
@use '../../../../../common/styles/vars/colors';
@use '../../../../shared';

.filtersPopover {
  @include shared.filter-popover;

  .body {
    @include shared.filter-popover-body;

    .reportedByField {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;

      .label {
        @include shared.section-label;
      }
    }

    .checkboxSection {
      border-top: 1px solid colors.$light-gray-lines;
      padding: 1rem 0 0.75rem;
      position: relative;

      .resetButton {
        @include buttons.chipTextButtonSmall;

        position: absolute;
        right: 0;
        top: 0.875rem;
      }

      .checkboxList {
        @include shared.borderless-select-list;
      }

      .priorityDot {
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;
        height: 0.75rem;
        width: 0.75rem;
      }
    }
  }
}
