@use 'sass:color';

@use '../common/styles/buttons';
@use '../common/styles/vars/colors';

.addAttachmentButton {
  @include buttons.baseButton;
}

.draggingOver {
  background-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
  outline: 2px dashed colors.$off-black;
  cursor: copy;
}
