@import '../common/styles/buttons';

.legend {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 20rem;
  z-index: 11;
  span {
    display: block;
  }
  .icon {
    max-height: 2.5rem;
    margin-right: .5rem;
    max-width: 2.5rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  h6 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  button {
    @include unstyledButton;
  }
}


.infoIcon {
  height: 1rem;
  width: 1rem;
}

.popover {
  width: 14rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  } 
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    line-height: normal;
    span, small {
      display: block;
    }
    + li {
      margin-top: 0.5rem;
    }
  }
  img {
    max-height: 1.5rem;
    margin-right: .25rem;
    max-width: 1.5rem;
  }
  button {
    margin-left: auto;
  }
}


.gradient {
  background: linear-gradient(to right, rgba(127, 104, 255, .5)0, #0ff 15%, #ff0 35%, orange 70%, red 95%);
  height: 1.5rem;
  margin: .25rem 0;
  width: 100%;
}


.close {
  right: 0;
  position: absolute;
  top: .25rem;
  &:hover {
    text-decoration: underline;
  }
}
