.titleWrapper {
  align-items: flex-start;
  display: flex;
}

.innerTitleWrapper {
  display: flex;
  flex-flow: column;
}

.heatIcon {
  outline: none;
  margin-right: 0.25rem;
  pointer-events: none;
  &:focus, &:hover, &:active {
    outline: none;
  }
}