@import '../common/styles/vars/colors';

.trackLength {
  display: block;
  margin: 0.25rem 0;
}

.trackControls {
  display: flex;
  justify-content: space-around;
}

.micActivity {
  align-items: baseline;
  border-bottom: 1px solid $light-gray-border;
  border-top: 1px solid $light-gray-border;
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  text-align: left;
  h5 {
    font-size: 0.8rem;
    font-weight: 600;
  }
  div {
    display: flex;
    flex-flow: column;
    line-height: normal;
    margin-left: 0.5rem;
  }
}

.addReport {
  margin-top: 0.75rem;
}