@import '../common/styles/vars/colors';

$checkmark-color: $medium-light-gray;
$hover-color: darken($checkmark-color, 12.5%);

.clearAllRow {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
	bottom: 0;
    z-index: 3;
    button {
        border: none;
        text-align: center;
        background: none;
        color: $clear-all-link-color;
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:focus {
          outline: 0;
        }
        &:hover {
          text-decoration: underline;
        }
    }
}

.checkmark {
  --dimensions: 1.5rem;
  fill: white;
  height: var(--dimensions);
  width: var(--dimensions);
  stroke: $clear-all-link-color;
  stroke-width: calc(var(--dimensions)/8);
  margin-left: 1.0rem;
}
