@import '../common/styles/vars/colors';

@mixin continueButton($background: $bright-red) {
  align-items: center;
  border: none;
  background-color: $background;
  display: flex;
  justify-content: center;
  svg {
    margin-right: 0.25rem;
  }
}

.footer {
  border-top: none;

  .cancelButton {
    background-color: white;
    border: none;
    color: $secondary-medium-gray;
    margin-right: 0.5rem;
  }

  .negativeContinue {
    @include continueButton;
  }

  .positiveContinue {
    @include continueButton($primary-button-color);
  }

}
