@use '../common/styles/vars/colors';

@mixin continue-button($background: colors.$bright-red) {
  align-items: center;
  border: none;
  background-color: $background;
  display: flex;
  justify-content: center;

  svg {
    margin-right: 0.25rem;
  }
}

.footer {
  border-top: none;

  .cancelButton {
    background-color: white;
    border: none;
    color: colors.$secondary-medium-gray;
    margin-right: 0.5rem;
  }

  .negativeContinue {
    @include continue-button;
  }

  .positiveContinue {
    @include continue-button(colors.$primary-button-color);
  }

}
