@use '../common/styles/vars/colors';
@use '../common/styles/animations';
@use '../common/styles/layout';

.mapLocationSelectionOverview {
  @include animations.fade-in;

  background: white;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  z-index: 12;

  @media (min-width: layout.$md-layout-width-min) {
    left: 1rem;
    top: 2rem;
    width: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%);
  cursor: pointer;

  h2 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 500;
  }

  .actions {
    display: flex;
    align-items: center;
    color: colors.$secondary-medium-gray;

    svg {
      width: 1rem;
      margin: 0 0.5rem;
    }
  }
}

.body {
  padding: 0.5rem;
}

.reportItem {
  margin-top: 0.25rem;
  height: 2.5rem;
  border-radius: 3px;
}

.separator {
  border-bottom: 1px solid #DDD;
  margin: 0.5rem 0 0.5rem -0.5rem;
  width: calc(100% + 1rem);
}

.measurements {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  
  > * {
    flex: 1;
  }
}

.modal {
  [class*="modal-dialog"] {
    width: 19rem;
    
    @media (min-width: layout.$md-layout-width-min) {
      width: 29.5rem;
    }

    [class*="modal-content"] {
      width: 19rem;

      @media (min-width: layout.$md-layout-width-min) {
        width: 29.5rem;
      }
    }
  }
}

.buttons {
  display: flex;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  svg {
    margin-right: 0.25rem;
  }
}

.undoButton {
  color: colors.$secondary-medium-gray;
  background-color: colors.$light-gray-background;
  margin-right: 0.5rem;
}

.discardButton {
  background-color: rgb(208 3 27 / 5%);
  color: colors.$bright-red;
}
