.main-map {
  &.locked {
    div.mapbox-zoom-ctrl {
      pointer-events: none;
    }
  }
}

.main-map .subject-marker-icon, .main-map .event-marker-icon {
  height: 2rem;
  width: 2rem;
}

.main-map .mapboxgl-marker {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-map h5 {
  line-height: normal;
  margin: .1rem 0 0;
}
