@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.main-map {
  h5 {
    line-height: normal;
    margin: 0.1rem 0 0;
  }

  .mapboxgl-popup {
    z-index: 4 !important;
  }

  .mapboxgl-marker {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .subject-marker-icon,
  .event-marker-icon {
    height: 2rem;
    width: 2rem;
  }

  &.locked {
    div.mapbox-zoom-ctrl {
      pointer-events: none;
    }
  }
}

.map-controls-container {
  bottom: 4rem;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  right: 1rem;
  position: absolute;
  z-index: 6;

  > * {
    margin-bottom: 0.5rem;
  }

  .mapboxgl-popup {
    z-index: -1 !important;
  }

  [type="button"][class*=controlButton] {
    background: rgba(white, 0.8);
    &:hover,
    &:active {
      background: white;
    }
  }
}

.map-legends {
  position: absolute;
  top: 0.5rem;
  right: 0.666rem;
  z-index: 11;
}

.timeslider-active {
  .mapboxgl-ctrl-scale {
    display: none !important;
  }
}

.compass-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 11rem;
  width: 30vw;
}

.rotation-control {
  inset: auto !important;

  > * {
    height: 2.25rem !important;
    width: 2.25rem !important;
  }
}

.general-add-button {
  width: 2.5rem;

  > button {
    color: $bright-blue;

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .arrow {
    &::after, &::before {
      transform: translateY(-0.325rem);
    }
  }
}
