@import '../common/styles/vars/colors';
@import '../common/styles/layout';

.controls {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 0 0 1rem;
  > button + button {
    margin-top: 1rem;
  }
  @media (min-width: $md-layout-width-min) {
    flex-flow: row;
    > button + button {
      margin-top: 0;
    }
  }
  label {
    // align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

.inactiveSubjects {
  display: flex;
  justify-content: center;

  input {
    margin-right: .4rem;
  }
}