@import '../common/styles/buttons';

$background_image_url: '../common/images/icons/';

@mixin button($image: 'heatmap') {
  background: url('#{$background-image_url+$image}.svg');
  background-size: cover;
  border: none;
  display: block;
  filter: saturate(50%) grayscale(100%);
  height: $square-button-dimension;
  outline: none;
  width: $square-button-dimension;

  &:focus {
    outline: none;
  }
}

.button {
  @include button;
  &.visible {
    filter: unset;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-flow: row;
  position: relative;

  &.hasLabel {
    background-color: rgba($secondary-light-gray, .25);
    border: 0.06px solid $secondary-medium-light-gray;
    border-radius: .12rem;
    max-width: 5.75rem;
    max-height: 1.85rem;
    border-radius: 0.2rem;
    cursor: pointer;

    [class*=spinner] {
      position: relative;
      top: -16%;
    }

    button {
      min-height: 1.80rem;
      height: 1.80rem;
      min-width: 1.80rem;
      width: 1.80rem;
    }

    span {
      font-size: 0.68rem;
      line-height: normal;
      padding: .1rem .7rem;
      margin: 0 -.2rem;
    }
    
    &[class*=visible] {
      border: 0.06px solid $bright-blue;
      background-color: rgba($bright-blue, 0.1);
    }
    
    &[class*=pinned] {
      border: 0.06px solid $green;
      background-color: rgba($green, 0.1);
    }
  }

}

.visible {
  @include button;
}

.partial {
  filter: opacity(50%);
}

div.loadingOverlay {
  background: none;
  z-index: 10;
  [class*=spinner] {
    height: 1rem;
    width: 1rem;
    &::after {
      background: none;
    }
  }
}