@use '../common/styles/buttons';
@use '../SubjectControls/mixins';

.container {
  .button {
    @include mixins.button-background('heatmap');

    filter: saturate(50%) grayscale(100%);

    &.visible {
      filter: unset;
    }

    &.partial {
      filter: opacity(50%);
    }
  }
}
