@import '../../common/styles/vars/colors';
@import '../../common/styles/animations';
@import '../../common/styles/layout';

.reportAreaOverview {
  @include fade-in;

  background: white;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  z-index: 12;

  @media (min-width: $md-layout-width-min) {
    left: 1rem;
    top: 2rem;
    width: 25rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;

  h2 {
    margin: 0;
    font-size: 1.375rem;
    font-weight: 500;
  }

  .actions {
    display: flex;
    align-items: center;
    color: $secondary-medium-gray;

    svg {
      width: 1rem;
      margin: 0 0.5rem;
    }
  }
}

.body {
  padding: 0.5rem;
}

.reportItem {
  margin-top: 0.25rem;
  height: 2.5rem;
  border-radius: 3px;
}

.separator {
  border-bottom: 1px solid #DDD;
  margin: 0.5rem 0 0.5rem -0.5rem;
  width: calc(100% + 1rem);

  @media (min-width: $md-layout-width-min) {
    width: 25rem;
  }
}

.measurements {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  
  > * {
    flex: 1;
  }
}

.modal {
  [class*=modal-dialog] {
    width: 19rem;
    
    @media (min-width: $md-layout-width-min) {
      width: 29.5rem;
    }

    [class*=modal-content] {
      width: 19rem;

      @media (min-width: $md-layout-width-min) {
        width: 29.5rem;
      }
    }
  }
}

.buttons {
  display: flex;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  svg {
    margin-right: 0.25rem;
  }
}

.undoButton {
  color: $secondary-medium-gray;
  background-color: $light-gray-background;
  margin-right: 0.5rem;
}

.restartButton {
  background-color: rgba(208, 3, 27, 0.05);
  color: $bright-red;
}
