@import '../common/styles/buttons';
@import '../common/styles/vars/colors';
@import '../common/styles/inputs';
@import '../common/styles/layout';
@import '../common/styles/animations';
@import '../common/styles/popovers';
@import '../common/styles/vars/fonts';

// $no-priority, $low-priority, $medium-priority, $high-priority;

.wrapper {
  position: relative;
}

.loadingOverlay {
  z-index: 10;
}

.formScrollContainer {
  max-height: 62vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
}

div.datePopover {
  left: unset;
  position: fixed;
  top: unset;
}


.form {
  background: white;
  font-size: 0.85rem;
  min-height: 8rem;
  padding: 1rem 1rem 3rem;
  @media #{$whenPageIsMediumHeightAndWidth} {
    font-size: 1rem;
  }
  [class*=col-] {
    position: static;
  }
  [class*=react-datetime-picker__wrapper] {
    @include defaultTextInput;
  }
  legend, [class*=card][class*=errors] {
    display: none;
  }
  [class*=fieldset] legend {
    border-bottom: 1px solid $light-gray-border;
    display: block;
    margin: 0.5rem 0;
  }
  [class*=fieldset], [class*=form-group] {
    &:not([class*=col-]) {
      width: 100%;
    }
  }
  [class*=btn-add] {
    margin-top: 1rem;
    &::after {
      content: 'New';
      margin-left: 0.5rem;
    }
  }
  [class*=array-item-toolbox] {
    padding-right: 0;
    [class*=btn-group] {
      justify-content: flex-end !important;
      > [class*=btn] {
        max-width: 2rem;
      }
    }
  }
  [class*=field-array-of-object] {
    [class$=array-item] {
      border: 1px solid $light-gray-border;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding: 0.5rem;
      &:only-child {
        border-radius: 0.5rem;
      }
      &:not(:only-child) {
        border-bottom: 0;
      }
      &:last-child {
        border-bottom: 1px solid $light-gray-border;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
      + [class$=array-item] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
  label {
    font-weight: 500;
    margin-bottom: 0;
  }
  [class$='checkbox '] {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    + [class$='checkbox '] {
      margin-top: 0.5rem;
    }
  }
  [type=checkbox] {
    margin-right: 0.5rem;
    + span {
      cursor: pointer;
      font-weight: normal;
    }
  }
}

.reportControls, .formButtons {
  align-items: center;
  display: flex;
}

.saveErrorAlert {
  @include fade-in;
  border-radius: 0;
  bottom: -1rem;
  box-shadow: 0 0 .25rem rgb(38, 38, 38);
  min-height: 10rem;
  position: absolute;
  width: 100%;
  z-index: 5;
  h5 {
    margin-bottom: 1rem;
  }
  ul {
    margin: 0;
  }
}

.reportControls {
  background: lighten($light-gray-background, 5%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
  flex-wrap: wrap;
  padding: 0 0 0.25rem !important;
  position: relative;
  @media #{$whenPageIsMediumHeightAndWidth} {
    padding: 0.5rem !important;
  }
  > label {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    position: relative;
    width: 50%;
    @media #{$whenPageIsMediumHeightAndWidth} {
      flex-wrap: wrap;
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    > * {
      font-weight: initial;
    }
    > span {
      display: none;
      @media #{$whenPageIsMediumHeightAndWidth} {
        display: initial;
      }
      + * {
        width: 100%;
        @media #{$whenPageIsMediumHeightAndWidth} {
          margin-top: 0.25rem;
        }
      }
    }
  }

  .locationButtons {
    display: flex;
    flex-flow: column;
    margin-top: 0.25rem;
    button {
      @include linkButton;
      align-items: center;
      display: flex;
      font-size: 0.75rem;
      font-style: italic;
      margin-top: 0.5rem;
      opacity: 0.7;
      text-align: left;
      &:hover {
        opacity: 1;
      }
      @media #{$whenPageIsMediumHeightAndWidth} {
        margin-top: 0;
      }
      svg {
        margin-right: 0.25rem;
      }
    }
    @media #{$whenPageIsMediumHeightAndWidth} {
      flex-flow: row;
      justify-content: space-between;
    }
  }

  .geoLocator {
    [class*=alert-danger] {
      bottom: -35%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  
  .icon {
    --dimensions: 1rem;
    margin-right: 0.5rem;
    @media #{$whenPageIsMediumHeightAndWidth} {
      --dimensions: 1.5rem;
    }
    height: var(--dimensions);
    width: var(--dimensions);
    g {
      stroke: $primary-font-color;
    }
    &.iconFill, &.iconFill * {
      fill: $primary-font-color; 
    }
  }
  [class*=react-datetime-picker__wrapper], .locationAnchor {
    @include defaultTextInput;
    padding: 0.5rem 0.25rem;
    width: 100%;
  }
  
}

.formButtons {
  background: $light-gray-background;
  box-shadow: 0 0 2px rgba(0, 0, 0, .65);
  justify-content: space-between;
}

.formButtons, .attachmentControls {
  padding: 1rem;
}

.formHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 5;
  
  h4 {
    align-items: center;
    display: flex;
    //font-size: 1rem;
    width: 100%;
    > span, > form {
      margin-left: 0.5rem;
    }
    @media #{$whenPageIsMediumHeightAndWidth} {
      //font-size: 1.5rem;
    }
  }
  .icon {
    --dimensions: 1.5rem;
    --half-size: calc(var(--dimensions)/2);
    max-height: var(--dimensions);
    width: var(--dimensions);
    @media #{$whenPageIsMediumHeightAndWidth} {
      --dimensions: 2.5rem;
    }
    &[class*=generic] {
      max-height: var(--half-size);
    }
  }
  
  &.priority-300 {
    background-color: $high-priority;
  }
  &.priority-200 {
    background-color: $medium-priority;
  }
  &.priority-100 {
    background-color: $low-priority;
  }
  &.priority-0 {
    background-color: $no-priority;
  }
  button {
    margin-left: auto;
  }
  input {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    max-width: unset;
  }
  [class*=editable] {
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  form {
    flex-wrap: wrap;
    button {
      flex: 1;
      margin-left: 0;
      @media #{$whenPageIsMediumHeightAndWidth} {
        flex: initial;
        margin-left: auto;
      }
    }
    @media #{$whenPageIsMediumHeightAndWidth} {
      flex-wrap: nowrap;
    }
  }
}

.addToIncidentBtn {
  @include unstyledButton;
  align-items: center;
  border-radius: 0.5rem;
  color: $link-color;
  display: flex;
  font-weight: normal;
  justify-content: left;
  padding: 0.5rem 0;
  transition: background .2s linear;
  width: 100%;
  &:hover {
    text-decoration: underline;
    color: $link-color;
  }
  img, svg {
    margin-left: 0.1rem;
    margin-right: 0.5rem;
  }
}

.headerDetails {
  display: flex;
  flex-flow: column;
  text-align: right;
  margin-left: auto;
  small {
    font-size: $font-size-smaller;
    line-height: $line-height-small;
  }
}

.reportHistory {
  cursor: pointer;
  font-size: $font-size-smaller;
  line-height: $line-height-small;
  text-decoration: underline;
  text-decoration-style: dashed;
  white-space: nowrap;
}

.headerPopover {
  &[class*=bs-popover] {
    max-width: unset;
  }
  [class*=popover-header] {
    @include popoverTitle;
  }
  [class*=popover-header]::before {
    border-bottom: 1px solid $popover-header-color;
  }
  > [class*=arrow]::after {
    border-bottom-color: $popover-header-color;
  }
  [class*=popover-body] {
    padding: 0;
    margin: 0.75rem 0.75rem;
    h6 {
      margin-bottom: 0.5rem;
    }
    hr {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.historyPopover {
  max-width: none !important;
  min-width: 14rem;
  padding: 0;
  [class*=popover-header] {
    @include popoverTitle;
  }
  [class*=popover-body] {
    padding: 0;
    max-width: 25rem;
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.historyItem {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0.75rem 0.75rem;
  .historyDetails {
    width: 12rem;
    .historyMessage {
      font-size: 0.85rem;
      line-height: 1rem;
    }
    .historyUser {
      font-size: $font-size-tiny;
      font-style: italic;
    }
  }
  .historyDate {
    align-items: flex-end;
    margin-left: 0.4rem;
    margin-right: 0.1rem;
  }
}

.gpsPopover {
  padding: 0.5rem;
  top: 85%;
}

.locationAnchor {
  color: $primary-font-color;
}

.attachmentControls {
  $background-color: lighten($light-gray-background, 5%);
  background: $background-color;
  display: flex;
  justify-content: space-evenly;
  padding: 0 !important;
  position: relative;
  z-index: 5;
  > button, > div {
    align-items: center;
    background: $background-color;
    border: none;
    color: $primary-font-color;
    display: flex;
    font-size: 0;
    justify-content: center;
    line-height: normal;
    flex: 1;
    flex-flow: column;
    margin: 0 0.25rem;
    padding: 0.5rem 0.25rem;
    transition: all .1s linear;
    @media #{$whenPageIsMediumHeightAndWidth} {
      font-size: 0.75rem;
    }
    @media #{$whenPageIsTallAndMediumWidth} {
      font-size: 1rem;
    }
    &:hover {
      background: darken($background-color, 3%);
      color: darken($primary-font-color, 4%);
    }
    &:active {
      background: darken($background-color, 6%);
      color: darken($primary-font-color, 8%);
    }
    &.draggable {
      &.draggingOver {
        background-color: rgba($bright-green, 0.5);
        border: .1rem dashed $light-gray-border;
        cursor: copy;
      }
    }
    > div {
      padding: 0;
      > button {
        height: 100%;
        width: 100%;
      }
    }
    span, small {
      display: none;
      @media #{$whenPageIsMediumHeightAndWidth} {
        display: initial;
      }
    }
    > svg {
      height: auto;
      width: 1.5rem;
      @media #{$whenPageIsMediumHeightAndWidth} {
        margin-bottom: 0.5rem;
      }
      @media #{$whenPageIsTallAndMediumWidth} {
        width: 2rem;
      }
    }
  }
}

.fileUpload {
  display: none;
}

.ellipseText {
  text-overflow: ellipsis;
}

[class$='-placeholder'] {
  @extend .ellipseText;
  white-space: nowrap;
}


.attachmentList {
  margin-left: -1rem;
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  width: calc(100% + 2rem);
  li {
    border-top: 1px solid $light-gray-border;
    border-bottom: 1px solid $light-gray-border;
    padding: 0 1rem 0 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: flex-start;
    .attachmentInfo {
      flex: 1;
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      margin: 0.5rem;
    }
    .attachmentUser {
      font-size: $font-size-tiny;
      font-style: italic;
      line-height: $line-height-small;
    }
    .attachmentDate {
      align-items: flex-end;
    }
    .attachmentIcon {
      padding: 1rem;
      svg {
        height: 2rem;
        width: 2rem;
      }
    }
    button {
      @include unstyledButton;
      padding: 0;
      text-align: left;
      &:hover {
        text-decoration: underline;
      }
    }
    .x {
      width: 1rem;
      height: 1rem;
      align-items: flex-end;
      margin-right: 0.5rem;
      fill: black;
      cursor: pointer; 
      :hover {
        fill: $bright-red;
      }
    }
    + li {
      border-top: none;
    }
  }
}

.incidentList {
  border-bottom: 0.1875rem solid $light-gray-border;
  border-top: 0.1875rem solid $light-gray-border;
  margin: -1rem -1rem 0;
  width: calc(100% + 2rem);
  [class*=listItem] {
    background: none;
  }
}

.incidentScrollList {
  height: 100%;
  max-height: 20rem;
  overflow-y: auto;
}


.saveButton {
  > :first-child {
    padding: 0.375rem 1rem;
  }
  [class*=dropdown-toggle-split] {
    background: darken($primary-button-color, 10%);
    padding: 0 0.5rem;
  }
}
