@import '../common/styles/buttons';

.hamburger {
  @include unstyledButton;
  --color:var(--hamburger-menu-color, white);
  --size: var(--hamburger-menu-size, 2.25rem);
  --transition-time: 0.225s;
  --spacing: calc(var(--size)/3);
  --line-width: calc(var(--spacing) / 4);

  cursor: pointer;
  height: var(--size);
  padding: 0;
  width: var(--size);

  span {
    background-color: var(--color);
    display: block;
    border: none;
    height: var(--line-width);
    position: relative;
    transition: all var(--transition-time) ease-in-out;
    width: var(--size);

    &::before,
    &::after {
      background-color: var(--color);
      content: '';
      display: block;
      height: var(--line-width);
      left: 0;
      position: absolute;
      transition: transform var(--transition-time) ease-in-out;
      width: var(--size);

      &:focus {
        outline: none;
      }
    }

    &::before {
      bottom: var(--spacing);
    }

    &::after {
      top: var(--spacing);
    }

  }

  &.open {
    span {
      background-color: rgba(0, 0, 0, 0);
      width: calc(var(--size) - var(--spacing));
      transform: translate(calc(var(--spacing) * 0.85), calc(var(--spacing) * 0.5)) rotate(45deg);

      &::before {
        transform: rotate(90deg) translateX(var(--spacing)) translateY(var(--spacing));
      }

      &::after {
        transform: rotate(0) translateX(calc(var(--spacing) * -1)) translateY(calc(var(--spacing) * -1));
      }
    }
  }

}