@use 'sass:color';

@use '../common/styles/vars/colors';

.fieldset {
  align-items: center;
  background-color: colors.$light-gray;
  display: flex;
  justify-content: space-evenly;

  .legend, .input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .radio {
    flex: 1;
    width: 20%;

    .input:focus-visible + .label {
      border: 2px solid colors.$bright-blue;
    }

    .label {
      border: 2px solid colors.$light-gray;
      color: colors.$off-black;
      cursor: pointer;
      display: block;
      height: 100%;
      overflow: hidden;
      padding: 0.25rem 0;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:hover {
        background-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
        border-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
      }

      &.active {
        background-color: white;
        border-color: white;
        border-bottom-color: colors.$bright-blue;
        color: colors.$bright-blue;
      }

      &.small {
        font-size: 0.6875rem;
      }
    }
  }
}

.gpsStringWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
  position: relative;

  .value {
    display: block;
    text-align: center;
    width: 100%;
  }

  .textCopyButton {
    margin: 0;
  }
}
