@use 'sass:color';

@use '../common/styles/vars/colors';

.fieldset {
  align-items: center;
  background-color: colors.$very-light-gray;
  display: flex;
  justify-content: space-evenly;

  .legend, .radioInput {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .label {
    border: none;
    color: colors.$off-black;
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 0.25rem;
    width: 100%;

    &:focus-within {
      border: 2px solid colors.$bright-blue;
    }

    &:hover {
      background-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
    }

    &.active {
      background-color: white;
      color: colors.$bright-blue;
    }
  }
}

.gpsStringWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  .value {
    display: block;
    text-align: center;
    width: 100%;
  }

  .textCopyButton {
    margin: 0;
  }
}
