@import '../common/styles/vars/colors';

.container {
  font-size: .8rem;
  line-height: normal;
}

.choices {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: .25rem 0;
  padding: 0;
  li {
    color: $link-color;
    cursor: pointer;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }
}
.active {
  font-weight: bold;
  text-decoration: underline;
}

.value {
  display: block;
  text-align: center;
}