
.chatControls {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
  small {
    text-align: right;
    width: 100%;
  }
}
