@import '../common/styles/buttons';
@import '../common//styles//vars/colors';


.legend {
  --close-button-size: 1.75rem;
  --legend-height: 3rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 var(--close-button-size) var(--close-button-size) 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  display: flex;
  flex-wrap: wrap;
  height: var(--legend-height);
  line-height: normal;
  padding: 0.5rem;
  position: relative;
  + .legend {
    border-top: 0.15rem solid $light-gray-border;
  }
  span {
    display: block;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  h6 {
    align-items: center;
    display: block;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    padding-right: 4.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 17rem;
  }
}

@mixin buttonOpacity {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.controlPopover {
  width: 20rem;
}

.close {
  @include unstyledButton;
  @include buttonOpacity;
  right: 0.25rem;
  padding: 0;
  position: absolute;
  top: calc((var(--legend-height) - var(--close-button-size)) / 2);
  vertical-align: top;
  svg {
    height: var(--close-button-size);
    width: var(--close-button-size);
  }
}

.gearButton {
  --dimensions: 1rem;
  @include buttonOpacity;
  @include gearButton;
  height: var(--dimensions);
  position: absolute;
  top: calc((var(--legend-height) - var(--dimensions)) / 2);
  right: 2.75rem;
  width: var(--dimensions);
}

