@import '../common/styles/vars/colors';

$unfiltered-color : $secondary-medium-gray;
$filtered-color : $highlight-color;

.search {
  --transition-timing: 0.15s;

  align-items: center;
  display: flex;
  position: relative;

  input {
    border-radius: 0.25rem;
    border: 1px solid $secondary-light-gray;
    flex-grow: 1;
    padding: 0.25rem 1.75rem;
    font-size: 0.875rem;
    width: 100%;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $unfiltered-color;
      opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $unfiltered-color;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $unfiltered-color;
    }
  }

  .searchIcon {
    --dimensions: 0.9rem;

    height: var(--dimensions);
    left: 0.5rem;
    position: absolute;
    top: 0.5rem;
    width: var(--dimensions);

    circle {
      fill: none;
      stroke: $unfiltered-color;
      stroke-width: 1rem;
    }

    path {
      fill: $unfiltered-color;
    }

    * {
      transition: var(--transition-timing) linear stroke, fill;
    }
  }

  .clearButton {
    width: 1rem;
    height: 1rem;
    padding: 0;
    position: absolute;
    outline: none;
    border: none;
    background: none;
    visibility: hidden;
    right: 0.5rem;
    top: 0.333rem;
    cursor: pointer;

    svg * {
      stroke: $unfiltered-color;
    }

    &:hover > svg * {
      stroke: $filtered-color;
    }

    > svg {
      height: 100%;
      position: relative;
      top: -0.25rem;
      width: 100%;
    }
  }

  &.isFiltered {
    .searchIcon {
      circle {
        stroke: $filtered-color;
      }

      path {
        fill: $filtered-color;
      }
    }

    .clearButton {
      visibility: visible;
    }
  }

  &.isActive:not(.isFiltered),
  &:hover:not(.isFiltered) {
    .searchIcon {
      circle {
        stroke: darken($unfiltered-color, 30%);
      }

      path {
        fill: darken($unfiltered-color, 30%);
      }
    }
  }

  /* --- OLD NAVIGATION STUFF STARTS HERE --- */
  &.oldNavigation {
    input {
      border: medium none color;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $secondary-light-gray;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $secondary-light-gray;
      }
  
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $secondary-light-gray;
      }
    }

    .searchIcon {
      circle {
        stroke: $secondary-light-gray;
      }
  
      path {
        fill: $secondary-light-gray;
      }
    }

    .clearButton {
      svg * {
        stroke: $secondary-light-gray;
      }
    }

    &.isActive:not(.isFiltered),
    &:hover:not(.isFiltered) {
      .searchIcon {
        circle {
          stroke: darken($secondary-light-gray, 30%);
        }

        path {
          fill: darken($secondary-light-gray, 30%);
        }
      }
    }
  }
  /* --- OLD NAVIGATION STUFF ENDS HERE --- */
}
