@import '../common/styles/vars/colors';

.search {
  align-items: center;
  display: flex;
  input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.25rem;
    &:focus {
      border-bottom: 1px solid gray;
      outline: none;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $light-gray;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $light-gray;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $light-gray;
    }
  }
  .searchIcon {
    height: 1.5rem;
    width: 1.5rem;
    circle {
      fill: none;
      stroke: gray;
      stroke-width: 1rem;
    }
    path {
      fill: gray;
    }
  }
  .clearButton {
    width: 1rem;
    height: 1rem;
    visibility: visible;
    cursor: pointer; 
    :hover {
      fill: $bright-red;
    }
  }
  input[value=""] ~ .clearButton {
    visibility: hidden;
  }
  &.active, &:hover {
    border: darken(gray, 15%);
    .searchIcon {
      circle {
        stroke: darken(gray, 15%);
      }
      path {
        fill: darken(gray, 15%);
      }
    }
    input {
      border-bottom: 1px solid darken(gray, 15%);
    }
  }
}