@import '../common/styles/vars/colors';

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  
  table {
    margin-bottom: 0rem;
    color: $dark-gray;
    font-size: 0.87rem;
    
    thead {
      font-size: 1rem;
      background-color: $medium-light-gray;
      color: $off-white;
      font-weight: 400;

      th {
        border-top: none;
      }
    }
  }

  ul {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    color: $off-white;
  }
}

.dateTime {
  span:first-child{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    color: $dark-gray;
  }
}