.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  padding: 3rem 1rem 1rem;
}

.form {
  justify-content: center;
  display: flex;
  flex-flow: column;
  margin: 0 1rem;
  max-width: 20rem;
  width: 100%;
  label {
    margin: 0;
  }
  input {
    margin-bottom: 1rem;
  }
}

.eulalink {
  padding-top: 5rem;
}

.error {
  margin-top: 1rem;
}

.logo {
  margin: 0 0 3rem;
  max-height: 10rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}