@import '../../common/styles/vars/colors';

.locationAreaContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 6.875rem;
}

.geometryMeasurements {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  color: $secondary-medium-gray;
  
  > * {
    flex: 1;
  }

  .measureValue {
    color: black;
    font-weight: bold;
  }
}

.imageSource {
  margin-right: auto;
  color: white;
  padding: 0 0.25rem;
  border-radius: 3px;
  margin-top: -1.75rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.geometryEditButtons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    svg {
      margin-right: 0.25rem;
    }
  }

  .editAreaButton {
    margin-right: 0.5rem;
    background-color: $light-gray-background;
    color: $secondary-medium-gray;
  }

  .deleteAreaButton {
    background-color: rgba(208, 3, 27, 0.05);
    color: $bright-red;
  }
}
