@use 'sass:color';
@use 'sass:map';

@use '../../../common/styles/vars/colors';

$rowHoverBlackMix: 4%;

@mixin priorityTheme($theme) {
  --item-icon-bg: #{map.get($theme, 'base')};
  --item-row-bg: #{map.get($theme, 'background')};
  --item-row-hover-bg: #{color.mix(black, map.get($theme, 'background'), $rowHoverBlackMix)};
}

.red {
  @include priorityTheme(colors.$report-high-priority-theme);
}

.amber {
  @include priorityTheme(colors.$report-medium-priority-theme);
}

.green {
  @include priorityTheme(colors.$report-low-priority-theme);
}

.none {
  @include priorityTheme(colors.$report-no-priority-theme);
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.viewReportIcon {
  svg {
    height: 0.875rem;
    width: 0.875rem;
  }
}
