@use 'sass:color';

@use '../common/styles/vars/colors';

.numericInput {
  align-items: center;
  background: white;
  border: 1px solid colors.$light-gray-border;
  border-radius: 0.25rem;
  display: flex;
  height: 2.5rem;

  &.error {
    border-color: colors.$bright-red;

    .controls button {
      color: colors.$bright-red;
    }

    ::placeholder {
      color: color.adjust(colors.$bright-red, $lightness: 33%);
    }
  }

  &.readOnly {
    background-color: colors.$off-white;
  }

  &.disabled {
    background-color: colors.$disabled-field-gray;
  }

  &:focus-within:not(.disabled) {
    border: 1px solid colors.$bright-blue;
    outline: 1px solid colors.$bright-blue;
  }

  .input {
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  .controls {
    height: 100%;
    width: 1.5rem;

    button {
      align-items: center;
      background-color: colors.$light-gray-background;
      border: none;
      color: colors.$secondary-medium-gray;
      display: flex;
      height: 50%;
      justify-content: center;
      outline: none;
      padding: 0;
      width: 100%;

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
    
      &:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }

      &:disabled {
        background-color: colors.$disabled-field-gray;
      }
  
      &:hover:not(:disabled) {
        background-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
      }

      svg {
        width: 0.625rem;
      }
    }
  }
}
