@import '../../../common/styles/vars/colors';

.link {
  color: unset;
  text-decoration: none;
}

.item {
  border-radius: .25rem;
  height: 2.5rem;
  margin-bottom: 0.4rem;

  div[role=img] {
    border-radius: .25rem 0 0 .25rem;
    width: 2.5rem;

    svg {
      width: 1.5rem;
    }
  }

  span {
    font-weight: normal;
  }
}
