@import "src/common/styles/vars/colors";

.label {
  font-size: 1rem;
  font-weight: 500;
  color: $secondary-medium-gray;
  display: block;
  margin-top: 1rem;

  &.error {
    color: $bright-red;
  }
}

.textInput {
  width: 100%;

  &.error {
    border-color: $bright-red;

    &::placeholder {
      color: lighten($bright-red, 33%);
    }
  }

  &.shortText {
    height: 2.5rem;
  }
  
  &.longText {
    margin-bottom: -0.5rem;
    max-height: 10rem;
    min-height: 2.5rem;
    border: 1px solid #d8d9d9;
    padding: 0.5rem;
  }
}

.description {
  font-size: 0.875rem;
  font-weight: 400;
  color: $alt-light-gray;
  line-height: 1rem;
  margin-top: 0.2rem;

  &.error {
    color: $bright-red;
  }
}
