@import '../common/styles/vars/colors';

.reportTypeList {
  > li {
    background: $light-gray-background;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem 0;

    ul {
      background: white;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding: 0.5rem;
      width: calc(100% + 1rem);
    }
  }


  svg {
    cursor: pointer;
    max-height: 1.5rem;
    margin: 0 0.75rem 0.5rem 0;
    max-width: 1.5rem;
  }
}

.category {
  background: $light-gray-background;

  h6 {
    padding: 0.5rem;
  }

  ul {
    background: white;
  }
}