@import '../../common/styles/buttons';
@import '../../common/styles/vars/colors';
@import '../../common/styles/inputs';
@import '../../common/styles/layout';

.locationSelectionLabel {
  position: relative;

  .gpsPopover {
    left: auto;
    max-width: unset;
    min-width: 18rem;
    padding: 0.5rem;
    right: 0;
    top: 90%;

    [class*=arrow] { 
      left: auto;
      right: 1rem;
    }
  }
}

.newGpsPopover {
  max-width: 18.5rem;
  width: 18.5rem;
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  min-height: 6.875rem;

  [class*=arrow] { 
    display: none;
  }
}

.geoLocator {
  [class*=alert-danger] {
    bottom: -35%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.locationAnchor {
  @include defaultTextInput;

  align-items: center;
  color: $bright-blue;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
  width: 100%;
  height: 2.5rem;

  .icon {
    margin: 0 0.5rem;
    color: $secondary-medium-gray;
  }

  .locationCopyBtn {
    [role=alert] {
      right: 0;
      top: 1.5rem;
      width: 8rem;
    }
  }
}

.locationButtons {
  display: flex;
  flex-flow: column;
  margin-top: 0.25rem;

  button {
    @include linkButton;

    align-items: center;
    display: flex;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.5rem;
    opacity: 0.7;
    text-align: left;
    &:hover {
      opacity: 1;
    }

    @media #{$whenPageIsMediumHeightAndWidth} {
      margin-top: 0;
    }

    svg {
      margin-right: 0.25rem;
    }
  }

  @media #{$whenPageIsMediumHeightAndWidth} {
    flex-flow: row;
    justify-content: space-between;
  }
}

.displayString {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: auto;
}
