@import '../common/styles/vars/colors';
@import '../common/styles/layout';

.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #d8d9d9;
  h5 {
    font-weight: 600;
    margin: 0 0 0 1rem;
  }
  svg {
    cursor: pointer;
  }
}