@import '../../common/styles/vars/colors';

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;

  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
  }

  svg {
    color: $secondary-medium-gray;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.fieldsTable {
  width: 100%;
}

.fieldsColumn {
  width: 50%;
}

.fieldLabel {
  margin-top: 0.5rem;
  width: 100%;
  position: relative;
  color: $secondary-medium-gray;
  font-size: 0.875rem;
  font-weight: normal;
  
  > div {
    margin-top: 0.187rem;
  }

  [class*=locationSelectionLabel] {
    width: 100%;
  }
}
