@import '../../common/styles/layout';
@import '../../common/styles/vars/colors';

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
  }

  svg {
    color: $secondary-medium-gray;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.container {
  .row {
    display: block;

    @media (min-width: $md-layout-width-min) {
      display: flex;
    }

    label:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.stateDropdown {
  button {
    padding: 0.325rem 1rem;
    text-transform: capitalize;

    &::after {
      margin-left: 0.5rem;
    }
  }

  &.resolved {
    button {
      background-color: $secondary-medium-light-gray;
      border-color: $secondary-medium-light-gray;
    }
  }

  .stateDropdownMenu {
    padding: 0.312rem 0;

    .stateItem {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
      text-transform: capitalize;
    }
  }
}

.fieldLabel {
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  color: $secondary-medium-gray;
  font-size: 0.875rem;
  font-weight: normal;

  > div {
    margin-top: 0.187rem;
  }

  [class*=locationSelectionLabel] {
    width: 100%;
  }
}

.form {
  margin-top: 1.5rem;
  font-size: 0.85rem;

  [class*=row] {
    padding: 0;

    > * {
      padding: 0;
    }
  }

  [class*=col-] {
    padding: 0 0.5rem;
  }

  legend {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1.5rem 0 0.5rem;
    border-bottom: 1px solid $light-gray-border;
  }

  label:not([class=form-check-label]) {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: $secondary-medium-gray;
    margin: 1rem 0 0.25rem;
  }
  
  button[class*=moveButton]:not([class*=removeButton]),
  button[type=submit] {
    display: none !important;
  }

  @media (min-width: $md-layout-width-min) {
    font-size: 1rem;

    button[class*=moveButton]:not([class*=removeButton]) {
      display: unset !important;
    }
  }
}
