@use '../../common/styles/inputs';
@use '../../common/styles/vars/colors';

.optionsPopover {
  @include inputs.boxShadow;
  border: none !important;
  border-radius: 0.25rem !important;
  font-size: 1rem !important;
  max-height: 12rem;
  min-width: 6rem;
  overflow-y: auto;

  .list {
    margin: 0;
    outline: none;

    .option {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      line-height: 1rem;
      padding: 0.5rem;

      &:hover {
        @include inputs.dropdown-options-hover;
      }

      &.selected {
        background-color: colors.$blue-highlight;
        scroll-margin: 2rem;
      }

      .checkMark, .checkMarkPlaceholder {
        @include inputs.dropdownOptionCheckMark;
      }

      .optionLabel {
        display: flex;
        flex-direction: column;

        .duration {
          color: colors.$secondary-medium-light-gray;
          font-size: 0.875rem;
          margin-top: 0.125rem;
        }
      }
    }
  }
}
