div.popover {
  position: fixed !important;
  width: 14.0rem;
  [class*=popover-body] {
    padding: 0.25rem;
  }
}

.filterSelection {
  div {
    display: block;
    clear: both;
  }
  span {
    display: block;
    padding-left: 20px;
    cursor: inherit;
  }
  label {
    margin-top: 0.25rem;
    margin-left: 0.25;
  }
  input {
    float: left;
    width: 20px;
    margin-left: -20px;
    margin-top: 0.55rem; 
    padding: 0;
    -webkit-appearance: radio;
  }

}
