@use "sass:color";
@use "../../../../../common/styles/vars/colors";


.dropdownWrapper {
  width: 100%;
  color: colors.$secondary-medium-gray;
  font-size: 1rem;
  margin-bottom: 0.125rem;

  p {
    font-weight: 500;
    margin: 0;
  }
}

.optionLabel {
  color: colors.$off-black;
}

.description {
  color: colors.$alt-light-gray;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0.125rem 0 0;
}

/* react-select overrides */
.multiValue {
  background: colors.$semi-light-gray !important;
  border-radius: 1rem !important;
  padding: 0 0.0625rem;
  font-weight: normal;
}

.multiValueRemove{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50% !important;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

.dropdownError {
  border: 1px solid colors.$bright-red !important;
}

.error {
  color: colors.$bright-red !important;
}

.separator {
  display: none !important;
}

.caretError {
  > div {
    > div {
      border-top: 0.3rem solid colors.$bright-red !important;
    }
  }
}

.singleOption {
  margin-left: 1rem;
}

.checkMark{
  width: 0.8rem;
  margin-right: 0.2rem;
  color: colors.$light-blue;
}
