@use 'sass:color';

@use '../../../../../common/styles/vars/colors';


.dropdownWrapper {
  width: 100%;
  color: colors.$secondary-medium-gray;
  font-size: 1rem;
  margin-bottom: 0.125rem;
  font-weight: 500;
}

.optionLabel {
  color: colors.$off-black;
  font-weight: normal;
  display: inline-block;
  max-width: 31.25rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.description {
  color: colors.$alt-light-gray;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0.125rem 0 0;

  &:empty {
    margin: 0;
  }
}

/* react-select overrides */
.multiValue {
  background: colors.$semi-light-gray !important;
  border-radius: 1rem !important;
  padding: 0 0.0625rem;
  font-weight: normal;
}

.multiValueRemove{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50% !important;
  color: colors.$secondary-medium-gray;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;

  &.readOnly:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: colors.$secondary-medium-gray;
    cursor: default;
  }
}

.dropdownError {
  border: 1px solid colors.$bright-red !important;
}

.control {
  font-weight: normal;

  &:hover:not(.readOnly){
    cursor: text;
  }

  &.readOnly {
    background-color: colors.$off-white;
  }
}

.controlFocused{
  box-shadow: 0 0 0 1px colors.$bright-blue !important;
  border-color: colors.$bright-blue !important;
}

.error {
  color: colors.$bright-red !important;
}

.indicatorContainer {
  > div {
    border-radius: 0.25rem;
    color: colors.$secondary-medium-gray;

    &:hover {
      background-color: colors.$semi-light-gray;
      color: colors.$secondary-medium-gray;
    }
  }

  &.caretError > div {
    color: colors.$bright-red;
  }

  &.readOnly > div:hover {
    background-color: colors.$off-white;
    color: colors.$secondary-medium-gray;
  }
}

.container {
  margin-top: 0.125rem;
}

.clearIndicator {
  &:hover {
    cursor: pointer;
  }
}

.cursorPointer {
  &:hover{
    cursor: pointer;
  }
}

.singleOption {
  margin-left: 1rem;
}

.checkMark{
  width: 0.8rem;
  color: colors.$bright-blue;
  float: left;
  margin-right: 0.4rem;
  margin-left: -0.3rem;
  margin-top: 0.4rem;
}
