
@import '../../../common/styles/vars/colors';

.feedItem{
  background: $light-gray;
  border: 0.0625rem solid $light-gray-border;
  border-radius: 0.1875rem;
}

.title{
  margin: 0;
  font-weight: 500;
}

.date span{
  font-size: 0.9rem;
  padding-right: 0.5rem;
}

.icon{
  width: 3.75rem;
  padding: 1rem;
  background: $light-gray;
}