@import '../common/styles/buttons';

.gearbutton {
  @include imageButton('gear');
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  z-index: 1;

  &:focus {outline:0;}
}
.mapsettings {
  position: absolute;
  background-color: #fff;
  z-index: 1;
    ul {
      margin-bottom: 0rem;
    }
}




