@import '../SubjectControls/mixins';

.popover {
  height: 22rem;
  max-width: unset;
  overflow: hidden;
  width: 24rem;
  [class*=popover-body] {
    height: 15.5rem;
  }
}

.container {
  @include control;
}

.button {
  @include buttonBackground('chat-icon');
}