@use '../SubjectControls/mixins';
@use '../common/styles/vars/colors';

.popover {
  height: 22rem;
  max-width: unset;
  overflow: hidden;
  width: 24rem;

  [class*="popover-body"] {
    height: 15.5rem;
  }

  [class*='popover-header'] svg {
    background-color: colors.$transparent-dark-gray;
    border-radius: 0.125rem;
  }
}

.container {
  .button {
    @include mixins.button-background('chat-icon');
  }
}
