
@import '../common/styles/vars/colors';

.listItem {
  cursor: default;
  // border-bottom: 1px solid $light-gray;
  justify-content: space-between;
  &:hover {
    background: none;
  }
}

.listItem, .summary, .details {
  display: flex;
}

.badge, .summary {
  margin-right: 1rem;
}

.details {
  color: $dark-gray;
  flex-flow: column;
  font-size: .8rem;
  text-align: right;
}

.timestamp {
  color: $medium-gray;
  margin-left: .5rem;
}