@use '../common/styles/buttons';
@use '../common/styles/layout';
@use '../common/styles/vars/colors';

.eventFilter {
  flex-shrink: 0;

  .controls {
    border-bottom: 1px solid colors.$light-gray-lines;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;

    .searchBar {
      width: 60%;

      @media (min-width: layout.$md-layout-width-min) {
        width: 40%;
      }
    }

    .triggerButtons {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      margin-top: 0.5rem;
      width: 100%;

      .triggerButton {
        @include buttons.chipTextButton;
        @include buttons.chipActiveState;

        flex-shrink: 0;
      }

      @media (min-width: layout.$md-layout-width-min) {
        justify-content: flex-end;
        margin-top: 0;
        width: 60%;
      }
    }

    @media (min-width: layout.$md-layout-width-min) {
      flex-direction: row;
    }
  }

  .summaryBar {
    align-items: center;
    border-bottom: 1px solid colors.$light-gray-lines;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    min-height: 3.25rem;
    padding: 0.5rem;

    .summary {
      color: colors.$off-black;
      font-size: 0.75rem;
      line-height: normal;
      margin: 0;
    }

    .resetButton {
      @include buttons.chipTextButton;

      flex-shrink: 0;
    }
  }
}
