@use '../common/styles/vars/colors';
@use '../common/styles/layout';

.loaderWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reportFormSummary {
  .nonSchemaFields {
    display: flex;
    flex-direction: column;
    width: 100%;

    .nonSchemaField {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        color: colors.$secondary-medium-gray;
        font-size: 0.875rem;
        margin: 0.75rem 0 0;
      }

      @media (min-width: layout.$md-layout-width-min) {
        width: 50%;
      }
    }

    @media (min-width: layout.$md-layout-width-min) {
      flex-direction: row;
    }
  }
}
