@use '../../../../common/styles/layout';
@use '../../../../common/styles/vars/colors';

.newLeg {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    background: colors.$light-gray-background;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 1rem 0;
  }

  @media (min-width: layout.$md-layout-width-min) {
    @include layout.sidebar-width-detail;
  }
}
