@import '../common/styles/vars/colors';
@import '../common/styles/buttons';

.label {
  position: relative;
  width: 50%;
  margin-bottom: 0;

  .nullMessage {
    align-items: center;
    background: white;
    display: flex;
    font-size: 0.75rem;
    height: 2rem;
    padding: 0.25rem;
    color: $link-color;
    left: 0.25rem;
    pointer-events: none;
    position: absolute;
    top: 1.5rem;
    width: 80%;
    z-index: 2;
  }
  [class|=react-calendar] {
    // top: 45% !important;
    position: fixed !important;
  }
}

.rangeString {
  text-transform: capitalize;
}

.presets {
  align-items: center;
  background: lighten($light-gray-background, 5%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  button {
    @include linkButton;
    color: $medium-light-gray;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  &:hover {
    button {
      color: $link-color;
    }
  }
}

.dateSelectorWrapper {
  align-items: center;
  display: flex;
  margin: 0.5rem 0 1rem;
  padding: 0 1rem;
  width: 100%;
}

.dateSelectorWrapperInline {
  @extend .dateSelectorWrapper;
  .dateRangeArrow {
    margin: 0 0.5rem;
  }
}

.dateRangeArrow {
  margin: 1.5rem .5rem 0 0.5rem;
}

.currentSelectedRange{
  color: lighten($primary-font-color, 25%);
  display: block; 
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

.dateInput {
  height: 2.3rem;
  font-size: 0.875rem;
  svg {
    display: none;
  }
}

.datePopover {
  // left: unset;
  // position: fixed;
  // top: unset;
  display: none;
}

@mixin buttonOpacity {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.gearButton {
  @include buttonOpacity;
  svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #333;
  }
  position: absolute;
  border: none;
  background: none;
  right: 0.75rem;
  bottom: 0.75rem;
  &:hover, &:focus, &:active {
    border: none;
    background: none;
    outline: none;
  }
  z-index: 200;
}
