@import '../common/styles/vars/colors';
@import '../common/styles/buttons';

.label {
  position: relative;
  width: 50%;

  .nullMessage {
    align-items: center;
    background: white;
    display: flex;
    font-size: 0.75rem;
    height: 2rem;
    padding: 0.25rem;
    color: $link-color;
    left: 0.25rem;
    pointer-events: none;
    position: absolute;
    top: 0.25rem;
    width: 90%;
    z-index: 2;
  }
  [class|=react-calendar] {
    // top: 45% !important;
    position: fixed !important;
  }
}

.rangeString {
  text-transform: capitalize;
}

.presets {
  align-items: center;
  background: lighten($light-gray-background, 5%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  button {
    @include linkButton;
    color: $medium-light-gray;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  &:hover {
    button {
      color: $link-color;
    }
  }
}

.dateSelectorWrapper {
  align-items: baseline;
  display: flex;
  margin: 0.5rem 0 1rem;
  padding: 0 1rem;
  width: 100%;
}

.dateRangeArrow {
  margin: 0 0.5rem;
}

.currentSelectedRange{
  color: lighten($primary-font-color, 25%);
  display: block; 
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

.datePopover {
  left: unset;
  position: fixed;
  top: unset;
}