@use '../common/styles/vars/colors';
@use '../common/styles/buttons';
@use '../common/styles/layout';


.icon {
  height: 100%;
  width: 100%;
  color: white;

  svg {
    --dimensions: 2rem;
    --half-size: calc(var(--dimensions) / 2);

    fill: currentcolor;
    height: var(--dimensions);
    width: var(--dimensions);

    &[class*="generic"] {
      height: var(--half-size);
      width: var(--half-size);
    }
  }
}

.title {
  text-align: left;
  width: 100%;

  .mainTitle {
    display: block;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .875rem;

    @media (min-width: layout.$sm-layout-width-max) {
      font-size: unset;
      padding-right: 1.2rem;
    }

    @media (min-width: layout.$md-layout-width-max) {
      padding-right: unset;
    }
  }
}

.titleDetails {
  color: colors.$off-black;
  font-size: 0.75rem;
}

.title, .icon {
  @include buttons.unstyled-button;
}

.controls {
  display: flex;
}

.statusInfo {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
}

.serialNumber {
  display: none;
  padding-right: 0.5rem;
  color: colors.$secondary-medium-gray;

  @media (min-width: layout.$md-layout-width-min) {
    display: flex;
  }
}

.item {
  cursor: pointer;
}

.patrolMenu {
  margin-left: 0.5rem;
}

.stateDependantControl {
  background: colors.$transparent-dark-gray !important;
  border: none;
  display: none;

  &:hover{
    background: colors.$hover-button-background !important;
  }

  @media (min-width: layout.$md-layout-width-min) {
    display: unset;
  }
}

.kebabMenu {
  margin-left: 0.5rem;
}
