@import '../common/styles/layout';
@import '../common/styles/vars/colors';
@import '../common/styles/buttons';

.patrolDetailView {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  @media (min-width: $md-layout-width-min) {
    width: 46rem;
  }
}

.loadingOverlay {
  z-index: 6;
}

.body {
  display: flex;
  height: calc(100% - 3.5rem);

  @media (min-width: $md-layout-width-min) {
    height: calc(100% - 5rem);
  }

  .navigationBar{
    @media print {
      display: none;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 3rem);
  height: 100%;
  background-color: white;
  border-left: 1px solid $very-light-gray-alt;

  @media (min-width: $md-layout-width-min) {
    width: 100%;
  }

  @media print {
    border: none;
  }
}

.sectionSeparation {
  width: calc(100% + 2.5rem);
  border-top: 1px solid $very-light-gray-alt;
  margin: 3rem -1.125rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1rem;
  border-top: 1px solid $very-light-gray-alt;
}

.footerActionButtonsContainer {
  display: flex;
}

.footerActionButton {
  @include footerActionButton;
}

.cancelButton {
  background-color: transparent;
  border-color: transparent;
  color: $secondary-medium-gray;
  font-size: 0.75rem;
  font-weight: bold;
  height: 100%;
  margin-right: 0.25rem;
  padding: 0;
  width: 4rem;

  @media (min-width: $md-layout-width-min) {
    font-size: 1rem;
    margin-right: 0.5rem;
    width: 5rem;
  }
}

.saveButton {
  height: 100%;
  width: 4rem;

  button {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @media (min-width: $md-layout-width-min) {
    width: 5rem;

    button {
      font-size: 1rem;
      padding: unset;
    }
  }
}

.hideOnPrint{
  @media print {
    display: none;
  }
}

.printLogo{
  display: none;
  height: 1.25rem;
  margin: 0.75rem;

  @media print {
    display: block;
  }
}

.sectionWrapper {
  @media print {
    padding: 0;
    margin-top: 2rem;
  }
}