@import '../common/styles/vars/colors';


.dividerTitle {
  $divider-color: darken($light-gray-border, 10%);

  border-top: 1px solid $divider-color;
  color: $divider-color;
  display: block;
  font-size: 1em;
  line-height: 0;
  margin-bottom: 0.5em; 
  text-align: center;
  span {
    background: white;
    font-size: 0.65em;
    padding: 0.25em;
  }
}

.senderDetails {
  color: $light-font-color;
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.messageHistory {
  line-height: normal;
  margin: 0;
  text-align: left;
  li li {
    padding: 0.75em 0.5em;
  }
  li li:not(:first-child) {
    border-top: 1px solid lighten($light-gray-border, 7.5%);
  }
}
.messageDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageTime {
  margin-top: -1.25em;
  text-align: right;
}

.scrollContainer {
  margin: 0;
  max-height: 16rem;
  min-width: 24rem;
  overflow-y: auto;
}