@import '../../common/styles/layout';
@import '../../common/styles/vars/colors';

nav {
  .toggle {
    img {
      height: 2rem;
      margin-right: 1rem;

      +h6 {
        display: none;

        @media (min-width: $md-layout-width-min) {
          display: initial;
        }
      }
    }

    &:hover,
    &:hover::after {
      color: darken(white, 7%);
    }

    &::after {
      display: inline-block;
    }
  }

  .listItem {
    display: flex;
    height: 3rem;
    justify-content: space-between;

    img {
      height: 2.5rem;
      margin-right: 1rem;

    }

    h6 {
      flex-grow: 1;
      text-align: right;
    }
  }

  .menu {
    max-height: 75vh;
    max-width: 96vw;
    overflow-y: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.dropdownArrow {
  color: lighten($light-font-color, 10%);
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  margin-left: 0.666rem;
  transform: scale(1.8, 1);
}

a.currentLocationJump {
  padding-bottom: 1rem;
  h6 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    svg {
      height: 1.25rem;
      width: 2.5rem;
    }
  }
}