@import '../../common/styles/layout';
@import '../../common/styles/vars/colors';

nav {
  .toggle {
    img {
      height: 2rem;
      margin-right: 1rem;

      +h6 {
        display: none;

        @media (min-width: $md-layout-width-min) {
          display: initial;
        }
      }
    }

    h6 {
      margin: 0 0.25rem;
    }

    &:hover,
    &:hover::after {
      color: darken(white, 7%);
    }

    &::after {
      display: inline-block;
    }
  }

  .listItem, .currentLocationJump {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0.25rem 1rem;

    img {
      height: 2.5rem;
      margin-right: 1rem;
    }

    h6 {
      flex-grow: 1;
      font-size: 0.9rem;
      margin: 0;
    }
    &[class*=active] {
      background: $light-gray !important;
      color: unset !important;
      font-weight: bold;
      &::after {
        content: "\2713";
        display: block;
        float: right;
      }
    }
    svg {
      height: 1rem;
      width: 1.25rem;
    }
  }

  .menu {
    margin: 0;
    max-height: 75vh;
    max-width: 96vw;
    overflow-y: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
}