@use '../../common/styles/vars/colors';

.timeSortButton {
  background-color: colors.$light-gray;
  border-color: colors.$light-gray;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  margin-left: 0.5rem;

  svg {
    margin-bottom: 0.19rem;

    path {
      fill: colors.$secondary-medium-gray;
    }
  }

  &:hover {
    background-color: colors.$secondary-light-gray;
    border-color: colors.$secondary-light-gray;
  }

  &:hover, &[class*="btn-primary"] {
    svg {
      path {
        fill: white;
      }
    }
  }

  &:focus {
    box-shadow: none;
  }
}