.popup {
  [class*=mapboxgl-popup-content] {
    width: 24rem;
  }
}

.senderDetails {
  display: block;
}

.messageHistory {
  line-height: normal;
  max-height: 12rem;
  overflow-y: auto;
  text-align: left;
  li {
    display: flex;
  }
}

.chatControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}

.messageDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outgoingMessage {
  flex-flow: reverse;
}