@import '../../../common/styles/vars/colors';

.historyListItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid $light-gray-border;

  &:last-of-type {
    border-bottom: none;
  }

  .user {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  .message {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  .date {
    span {
      font-size: 0.875rem;
    }
  }
}
