@use "../../common/styles/vars/colors";

.container {
  background: white;
  display: flex;
  margin-bottom: 1rem;

  label {
      color: colors.$off-black;
      font-weight: normal;
      display: inline-block;
      line-height: 1.1rem;
      width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &.error {
    label {
      color: colors.$bright-red;
    }

  }

  input {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  .ripple {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background-color 200ms ease-in-out;


    &.active {
      &:hover {
        cursor: pointer;
        background: rgba(colors.$bright-blue, 0.06);
      }

      &:active {
        background-color: unset;
      }

    }

    .checkboxIconWrapper {
      width: 1.1rem;
      height: 1.1rem;
      border: 2px solid colors.$gray-border;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.1rem;

      svg {
        display: none;
      }

      &.checked {
        background: colors.$bright-blue;
        border-color: colors.$bright-blue;

        svg {
          color: white;
          display: unset;
        }
      }
    }

    .radioIconWrapper {
      width: 1.2rem;
      height: 1.2rem;
      border: 2px solid colors.$gray-border;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;


      .radioBoxIcon {
        width: 0.65rem;
        height: 0.65rem;
        background-color: colors.$bright-blue;
        border-radius: 50%;
      }

      &.checked {
        border: 2px solid colors.$bright-blue;
      }
    }

    .radioIconWrapper.iconError,
    .checkboxIconWrapper.iconError, {
      border-color: colors.$bright-red;
    }

  }

  &.disabled {
    opacity: 0.7;

    & label:hover {
      cursor: default;
    }
  }

}

