@use 'sass:color';

@use "../../common/styles/vars/colors";

.selectableItem {
  align-items: center;
  display: flex;
  margin-bottom: 0.25rem;

  &.inactive {
    .ripple {
      &:hover {
        background: transparent;
      }

      .input:hover {
        cursor: default;
      }
    }

    .label:hover {
      cursor: text;
    }
  }

  .ripple {
    align-items: center;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 2rem;
    margin-right: 0.25rem;
    transition: background-color 200ms ease-in-out;
    width: 2rem;

    &:hover {
      background: rgba(colors.$bright-blue, 0.08);
    }

    .input {
      height: 1rem;
      width: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .label {
    color: colors.$off-black;
    width: fit-content;

    &:hover {
      cursor: pointer;
    }

    &.error {
      color: colors.$bright-red;
    }
  }
}
