@use 'sass:color';

@use '../common/styles/vars/colors';

.inputWrapper {
  display: flex;
  margin-top: 0.5rem;

  .input {
    border: 1px solid colors.$secondary-light-gray;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:hover {
      border: 1px solid colors.$off-black;
    }

    &:focus-visible {
      border-color: colors.$bright-blue;
      outline: 1px solid colors.$bright-blue;
    }

    &[aria-invalid="true"] {
      border-color: colors.$bright-red;
      outline: 1px solid colors.$bright-red;

      &::placeholder {
        color: color.adjust(colors.$bright-red, $lightness: 33%);
      }
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}

.description {
  color: colors.$alt-light-gray;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.125rem 0 0;

  &.error {
    color: colors.$bright-red;
  }
}

.placesFromSearchTextList {
  margin: 0.25rem 0;

  .placeFromSearchTextOption {
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    padding: 0.25rem 0.5rem;
    padding-left: 1.75rem;

    &:hover, &.active {
      background-color: colors.$semi-light-gray;
    }
  
    &[aria-selected=true] {
      background-color: colors.$very-light-blue;
      padding-left: 0.5rem;

      &:hover, &.active {
        background-color: color.adjust(colors.$very-light-blue, $lightness: -5%);
      }
    }

    .checkLightIcon {
      color: colors.$bright-blue;
      margin-right: 0.5rem;
      width: 0.75rem;
    }

    .labelWrapper {
      font-size: 0.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .placeFormatted {
        color: colors.$secondary-medium-gray;
        display: block;
        font-size: 0.75rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
