@use 'sass:color';

@use '../common/styles/vars/colors';

.inputWrapper {
  display: flex;
  margin-top: 0.5rem;

  .input {
    height: 2.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:focus {
      border: 2px solid colors.$bright-blue;
    }

    &[aria-invalid="true"] {
      border: 1px solid colors.$bright-red;

      &::placeholder {
        color: color.adjust(colors.$bright-red, $lightness: 33%);
      }
    }

    &.hasButton {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.description {
  color: colors.$alt-light-gray;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.125rem 0;

  &.error {
    color: colors.$bright-red;
  }
}
