@import '../common/styles/vars/colors';

.wrapper {
  span[class*=value] { 
    display: none;
  }
  input {
    width: 100%;
  }
  .errorInput {
    border: 1px solid $error-border;
  }
  small {
    color: lighten($primary-font-color, 25%);
    font-style: italic;
  }
}

.errorMessage {
  margin: 0.5rem 0 0;
  padding: 0.25rem;
}
