@use 'sass:color';

@use '../../../../../common/styles/vars/colors';

.collection {
  .header {
    align-items: center;
    border-radius: 0.25rem;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding-right: 0.25rem;
    width: 100%;

    &.error {
      .chevronButton {
        color: colors.$bright-red;
      }
  
      .label {
        color: colors.$bright-red;
      }
    }

    .chevronButton {
      background: none;
      border: none;
      border-radius: 0.1875rem;
      color: colors.$secondary-medium-gray;
      margin-right: 0.5rem;
      outline: none;

      &:hover {
        background: colors.$light-gray-background;
      }

      &:focus-visible {
        border: 2px solid colors.$bright-blue;
        color: colors.$bright-blue;
      }
    }

    .label {
      color: colors.$secondary-medium-gray;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.125rem;
  
      &.error {
        color: colors.$bright-red;
      }
    }
  }

  .collapse {
    margin-top: 0.5rem;

    .emptyState {
      background: white;
      border: 1px dashed colors.$light-gray-border;
      border-radius: 0.25rem;
      height: 2.5rem;
      width: 100%;
    }

    .addButton {
      align-items: center;
      background-color: colors.$light-gray-background;
      border: none;
      border-radius: 0.25rem;
      color: colors.$off-black;
      display: flex;
      font-weight: 500;
      margin-top: 1rem;
      outline: none;
      padding: 0.25rem;
      padding-right: 0.75rem;
  
      &:disabled {
        background-color: colors.$disabled-field-gray;
        opacity: 0.66;
      }
  
      &:focus-visible:not(:disabled) {
        border: 2px solid colors.$bright-blue;
      }
  
      &:hover:not(:disabled) {
        background-color: color.adjust(colors.$light-gray-background, $lightness: -5%);
      }
  
      .icon {
        margin-right: 0.25rem;
  
        path {
          display: none;
        }
      }
    }
  }

  .description {
    color: colors.$alt-light-gray;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0.125rem 0 0;

    &.error {
      color: colors.$bright-red;
    }
  }
}
