@import '../../common/styles/layout';
@import '../../common/styles/vars/colors';
@import '../../common/styles/buttons';

.reportDetailView {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  @media (min-width: $md-layout-width-min) {
    width: 46rem;
  }

  &.readonly {
    [class*=fieldLabel] {
      * {
        color: $primary-font-color;
        pointer-events: none;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      div, input {
        background-color: $disabled-field-gray;
      }
    }
  }
}

.loadingOverlay {
  z-index: 6;
}

.printLogo {
  display: none;
  height: 1.25rem;
  margin: 0.75rem;

  @media print {
    display: block;
  }
}

.body {
  display: flex;
  height: calc(100% - 3.5rem);

  .navigationBar {
    display: none;

    @media (min-width: $md-layout-width-min) {
      display: unset;
    }

    @media print {
      display: none;
    }
  }

  @media (min-width: $md-layout-width-min) {
    height: calc(100% - 5rem);
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-left: 1px solid $very-light-gray-alt;

  @media (min-width: $md-layout-width-min) {
    width: 100%;
  }

  @media print {
    border-left: none;
  }
}

.sectionSeparation {
  width: calc(100% + 2.5rem);
  border-top: 1px solid $very-light-gray-alt;
  margin: 3rem -1.125rem;
}

.historySectionSeparation {
  width: calc(100% + 2.5rem);
  border-top: 1px solid $very-light-gray-alt;
  margin: 3rem -1.125rem;

  @media print {
    display: none;
  }
}

.historySection {
  @media print {
    display: none;
  }
}

.footer {
  display: flex;
  padding: 0.875rem 1rem;
  border-top: 1px solid $very-light-gray-alt;
  justify-content: space-between;


  @media (min-width: $md-layout-width-min) {
    justify-content: space-between;
  }

  @media print {
    display: none;
  }
}

.footerActionButtonsContainer {
  display: flex;
}

.footerActionButton {
  @include footerActionButton;
}

.actionButtons{
  display: flex;
  align-items: center;
}

.cancelButton {
  background-color: transparent;
  border-color: transparent;
  color: $secondary-medium-gray;
  font-weight: bold;
  margin-right: 0.5rem;
}

.saveButton {
  margin-right: 0.5rem;

  &:disabled {
    cursor: not-allowed;
  }
}
