@use '../../../common/styles/layout';
@use '../../../common/styles/vars/colors';

.form {
  border-bottom: 1px solid colors.$gray-border;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.5rem;

  @media (min-width: layout.$md-layout-width-min) {
    flex-direction: row;
  }

  .searchBar {
    width: 60%;
    
    @media (min-width: layout.$md-layout-width-min) {
      width: 40%;
    }
  }
}
