@import '../common/styles/vars/colors';

$profilePinDimensions: 2.5rem;

.modalBody {
  min-height: 9.5rem;
}

.error {
  color: $error;
  margin: 1rem 0 0;
}

.pinFields {
  align-items: center;
  display: flex;

  input {
    border-radius: 0;
    font-size: 1.5rem;
    height: $profilePinDimensions;
    margin-right: 0.333rem;
    text-align: center;
    width: $profilePinDimensions;

    &:focus,
    &:active {
      border-color: $highlight-color;
    }
  }
}
