@use '../common/styles/vars/colors';

$profile-pin-dimensions: 2.5rem;

.modalBody {
  min-height: 9.5rem;
}

.error {
  color: colors.$error;
  margin: 1rem 0 0;
}

.pinFields {
  align-items: center;
  display: flex;

  input {
    border-radius: 0;
    font-size: 1.5rem;
    height: $profile-pin-dimensions;
    margin-right: 0.333rem;
    text-align: center;
    width: $profile-pin-dimensions;

    &:focus,
    &:active {
      border-color: colors.$highlight-color;
    }
  }
}
