@import '../common/styles/buttons';

.buttons {
  align-items: center;
  display: flex;
  button {
    flex-shrink: 0;
  }
  button + button {
    font-size: 0.75rem;
    margin-left: 0.25rem;
    padding: 0.25 0.5rem;
  }
}

.popup {
  margin-top: 2.25rem;
  position: fixed;
}

.button {
  @include mapboxControlButton;
  svg path {
    fill: #333;
  }
}


