@import '../common/styles/buttons';

.buttons {
  align-items: center;
  display: flex;
  button {
    flex-shrink: 0;
  }
  button + button {
    font-size: 0.75rem;
    margin-left: 0.25rem;
    padding: 0.25 0.5rem;
  }
}

.popup {
  line-height: normal;
  margin-top: 2.25rem;
  position: fixed;
  &.unfinished {
    [class*=mapboxgl-popup-content] {
      width: 7rem;
      padding: 0.5rem 0;
    }
  }
  p {
    margin-bottom: 0.25rem;
  }
}

.button {
  @include mapboxControlButton;
  svg path {
    fill: #333;
  }
}


.finishButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  svg {
    height: 2rem;
    width: 2rem;
  }
}