@import '../common/styles/layout';
@import '../common/styles/vars/colors';

.settingsInputContainer {
  display: flex;
  line-height: 1.25;
  margin: 0.25rem 0;

  input {
    margin-right: 0.5rem;
  }
}
