@use '../../../../common/styles/vars/colors';

.header {
  align-items: center;
  display: flex;
  margin-bottom: 0.75rem;

  .backButton {
    background: none;
    border: none;
    border-radius: 0.1875rem;
    color: colors.$secondary-medium-gray;
    margin-right: 1rem;
    outline: none;
    padding: 0.25rem 0.5rem;

    &:focus-visible {
      outline: 2px solid colors.$bright-blue;
      color: colors.$bright-blue;
    }

    &:hover {
      background: colors.$light-gray-background;
    }
  }

  .title {
    color: colors.$off-black;
    font-size: 1.375rem;
    margin: 0;
  }
}
