@import '../../common/styles/vars/colors';

.alarmRadioStateToast {
  display: flex;

  .subjectLastPositionDate {
    span {
      font-size: 1rem;
    }
  }
  
  .subjectLocationJumpButton {
    border: none;
    border-radius: 0.25rem;
    margin-left: 1rem;
    width: 2rem;
  }
}
