@use '../../common/styles/vars/colors';

.mapLayers {
  background-color: white;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 4rem;

  >.noItems {
    visibility: hidden;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  >.noItems:only-child {
    visibility: visible;
  }
}

.mapLayerFooter {
  background-color: colors.$map-layers-footer;
  height: 3rem;
  width: var(--sidebar-width);
  text-align: left;
  position: absolute;
  bottom: 0;
  z-index: 3;

  a {
    margin-left: 0.5rem;
  }
}
