.analyzerPopup {
    padding: .25rem;
    line-height: normal;
    h4 {
      display: flex;
      font-size: 1.25rem;
      line-height: normal;
    }
    h5 {
      color: #999;
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0;
      text-align: center;
    }
  }