@import '../../common/styles/vars/colors';

.popover {
  overflow: auto !important;

  [class*=popover-body] {
    overflow: auto !important;
  }
}

.resetAllButton {
  height: 1.75rem;
}

.leadersFilterContainer {
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 1rem 1rem;

  label {
    font-weight: 500;
    font-size: 0.75rem;
    color: $medium-light-gray;
    margin-bottom: 0.375rem;
  }

  button {
    &[class*=hidden] {
      visibility: hidden;
    }
  }

  [class*=select] {
    display: flex;
    align-items: center;
    width: 100%;

    > :first-child {
      margin-right: 0.25rem;
      left: -0.5rem;
    }
  }
}

.statusContainer,
.patrolTypeContainer {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  overflow: hidden;

  [class*=header] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;

    label {
      font-weight: 500;
      font-size: 1rem;
      color: $primary-font-color;
    }
  }

  button {
    &[class*=hidden] {
      visibility: hidden;
    }
  }

  [class*=checkboxListContainer] {
    width: 100%;
  }
}

.statusContainer {
  [class*=statusItem] {
    display: flex;
    align-items: center;

    svg {
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.patrolTypeContainer {
  [class*=patrolTypeItem] {
    display: flex;
    align-items: center;

    svg {
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 0.5rem;
    }
  }
}
