
:root {
  --nav-height: 3rem;
}

.App {
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  z-index: 1;
}

.container .mapboxgl-map {
  flex-grow: 1;
}