@import './common/styles/vars/colors';
@import './common/styles/animations';
@import './common/styles/buttons';
@import './common/styles/layout';
@import './common/styles/inputs';

*,
*::before,
*::after {
  box-sizing: border-box;
}

div.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: crosshair;
}

.Toastify__toast--warning {
  background: $amber;
}

$map-canvas: '.mapboxgl-canvas';
$non-map-top-level-components: '.side-menu, nav, .mapboxgl-map button:not(#cancel-location-select)';

:root {
  --nav-height: 2.75rem;
  --vertical-nav-width: 4.375rem;
  --sidebar-width: calc(100vw);

  @media (min-width: $md-layout-width-min) {
    --sidebar-width: 32rem;
  }
}

[type=text] {
  @include defaultTextInput;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.row {
  margin: unset;
}

body {
  // disallow overscroll on iOS
  overflow: hidden;
  position: fixed;
}

.App,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: column;

  &.picking-location {
    #{$non-map-top-level-components} {
      cursor: not-allowed !important;
      pointer-events: none !important;
    }

    .mapboxgl-ctrl-bottom-right,
    .mapboxgl-ctrl-scale,
    .mapbox-zoom-ctrl {
      display: none !important;
    }
  }

  &.dragging {
    cursor: no-drop;
  }
}

aside {
  .Collapsible {
    min-height: 3.3125rem;
    width: 100%;
  }
}

#reportTypeIconSprite {
  display: none;
}

.tab-content {
  height: 100%;
  overflow: hidden;
}

.tab-pane {
  min-height: 100%;
}

.event-form-modal,
.patrol-form-modal {
  .modal-dialog {
    align-items: center;
    max-height: 90vh;
  }

  .modal-content {
    border: none;
    max-height: 98vh;
    padding: 0;

    @media (min-height: $lg-height-min) {
      max-height: 80vh;
    }

    >div > *:not(form):not([class*=formScrollContainer]) {
      padding: 1rem 0.5rem;
    }

    >div > form {
      padding: 1rem 1rem 11.5rem;
    }

    [class*=loadingOverlay] [class*=spinner] {
      top: 0;
    }
  }
}

.patrol-form-modal {
  .modal-dialog {
    max-width: 46rem;
  }

  &.readonly .modal-content > [class*=wrapper] {
    cursor: not-allowed;

    > *:not([class*=formButtons]) {
      pointer-events: none;

      [class*=empty] {
        opacity: 0;
      }
    }

    > [class*=formButtons],
    > [class*=formHeader] [class*=history],
    [class*=locationAnchor]:not([class*=empty]),
    [class*=gpsPopover] [class*=choices] {
      pointer-events: all;
    }

    [class*=gpsPopover] [class*=locationButtons] {
      display: none;
    }

    > [class*=attachmentControls] {
      display: none;
    }

    > [class*=formHeader] [class*=history] {
      cursor: pointer;
    }

    > [class*=formButtons] {
      cursor: default;

      &::before {
        color: $light-font-color;
        content: 'You only have permission to view patrols, and may not edit them.';
        display: block;
        font-style: italic;
        padding: 1rem;
        width: 100%;
      }

      [class*=saveButton] {
        display: none;
      }
    }
  }
}

.json-schema-checkbox-wrapper {
  border-top: 1px solid $light-gray-border;
  border-bottom: 3px solid $light-gray-border;
  max-height: 12.5rem;
  overflow: scroll;
  padding: 0.5rem;
}

.floating-report-filter {
  @include fade-in;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.666rem;
  line-height: normal;
  max-width: 14rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  transition: all 0.3s linear;
  width: 100vw;
  z-index: 7;
  flex-wrap: wrap;

  @media (min-width: $md-layout-width-min) {
    margin-left: var(--vertical-nav-width);
    max-width: 25rem;
  }

  .report-filter {
    padding: 0.333rem;
  }

  form {
    border: none;
    padding: 0;

    @media (min-width: $md-layout-width-min) {
      border-bottom: 1px solid $gray-border;
      padding-bottom: 0.25rem;
    }
  }

  [class*=search] {
    input {
      background: transparent;
    }
  }

  .map-report-filter-details {
    display: none;

    @media (min-width: $md-layout-width-min) {
      display: block;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }
}

.react-calendar {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 3px $light-gray-border;
  padding: 0.5rem;

  .react-calendar__month-view__days {
    button {
      border-radius: 100%;
      height: 3rem;
      width: 3rem;

      &:not(:disabled):hover,
      &.react-calendar__tile--active,
      &.react-calendar__tile--now {
        border: 1px solid $light-gray-border;
      }

      &.react-calendar__tile--now {
        background: none;
      }

      &.react-calendar__tile--active {
        background: $primary-button-color;
        color: white;
      }
    }
  }

  .react-calendar__navigation__label {
    font-weight: bold;
  }

  .react-calendar__tile:disabled {
    background: none;
    opacity: 0.5;
  }
}

.maplock {
  text-align: center;
}

.app-container {
  flex: 1;
  position: relative;
  width: 100vw;
  z-index: 1;

  .mapboxgl-map {
    height: 100%;
    width: 100vw;
  }

  &.sidebar-open {
    .floating-report-filter {
      opacity: 0;
    }

    div.mapboxgl-canvas-container.mapboxgl-interactive {
        @media (max-width: $md-layout-width-max) {
        cursor: pointer;
      }
    }
  }
}

.src-component-launcher-WidgetLauncher-wrapper {
  display: none;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-scale,
.mapbox-zoom-ctrl {
  transition: transform 0.3s ease-in-out;
}

.mapboxgl-ctrl-attrib:not(.er-map) {
  display: none;
}

.mapboxgl-ctrl-attrib.er-map {
  background: rgba(white, 0.8);
  font-size: 0.7rem;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  position: absolute;
  text-align: right;
  z-index: 2;

  p {
    margin: 0;
  }

  @media (min-width: $md-layout-width-min) {
    right: 4rem;
  }
}

.mapboxgl-ctrl-bottom-left {
  pointer-events: none;
  transform: translate(-0.25rem, -0.25rem) scale(0.7);

  .mapboxgl-ctrl {
    margin: 0;
  }
}

.mapboxgl-ctrl-scale {
  background-color:rgba(255, 255, 255, 0.75);
  transform: translate(-5rem, -1.5rem);
}

.mapbox-zoom-ctrl {
  flex-direction: row !important;
  transform: scale(1.25) translate(-0.5rem, -1rem);

  #zoomIn {
    order: 2;
  }

  #zoomOut {
    order: 1;
  }
}

.mapboxgl-ctrl-scale {
  margin-right: 2rem;
}

.btn-primary {
  background-color: $primary-button-color;
  border-color: $primary-button-color;
}

.btn-light {
  background: $light-gray;
  color: $secondary-medium-gray;
}

.app-container h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.25rem;
}

div.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.88);
  border-radius: 0.5rem;
  text-align: center;
  width: 13rem;

  h5 {
    margin-bottom: 0.5rem;
  }

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

div.mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.88);
}

.modal-dialog {
  left: 0;
  top: 0;
}

.modal[role=dialog] {
  @include fade-in;

  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex !important;
  justify-content: center;

  &[style*='display: none'],
  &[style*='display:none'] {
    z-index: -1;
  }
}

@media (min-width: $md-layout-width-min) {
  .event-form-modal,
  .patrol-form-modal {
    & + .modal-backdrop + .event-form-modal .modal-dialog {
      left: 1rem;
      top: 1rem;
    }
  }
}

.modal-open .modal {
  overflow: hidden;
}

.dropdown-item {
  align-items: center;
  display: flex;
  padding: 0.5rem 1rem;
  user-select: text;

  &:active,
  &:visited,
  &:focus {
    background-color: unset;
    color: unset;
    outline: none;
  }
}

@media print {
  @page {
    margin: 0.5cm;
    size: auto;
  }

  .primary-nav .rightMenus > div {
    &:first-child,
    &:last-child {
      display: none !important;
    }
  }

  .map-controls-container,
  .mapbox-zoom-ctrl,
  .mapboxgl-ctrl-top-left {
    display: none !important;
  }

  .primary-nav {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
}

#ngprogress {
  .spinner {
    left: 0.42rem;
    pointer-events: none;
    right: unset;
    top: 0.785rem;
  }

  .spinner-icon {
    animation: nprogress-spinner 800ms linear infinite;
    height: 1rem;
    width: 1rem;
  }
}

.alerts-modal.show {
  align-items: flex-start;
  display: flex !important;
  justify-content: center;

  .modal-dialog {
    margin: 0 0.5rem;
    max-width: 64rem;
    width: 100%;
  }

  .modal-content {
    border-radius: 1rem;
    height: 90vh;
  }

  iframe {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
}

.daily-report-modal,
.kml-export-modal {
  .modal-dialog {
    margin-top: -5rem;
  }
}

.modal.messaging-modal {
  background: none;
  pointer-events: none;

  .modal-dialog {
    position: absolute;
    right: 5vw;
    left: unset;
    top: 0.5rem;
    min-height: unset;
    bottom: unset;
    width: 90vw;
    font-size: 0.95rem;

    @media (min-width: $md-layout-width-min) {
      right: 4rem;
      width: 33rem;
    }

    @media (min-width: $lg-layout-width-min) {
      right: 11.5rem;
    }
  }

  .modal-content {
    box-shadow: 0 0 3px $light-gray;
  }

  .modal-header {
    align-items: center;
    height: 4rem;

    h5 {
      margin: 0;
    }
  }

  .modal-body {
    height: 20rem;
    padding: 0.25rem 0 0;
  }

  .modal-footer {
    align-items: flex-start;
    justify-content: space-between;

    *:only-child {
      margin-left: auto;
    }
  }
}

.tableau-modal {
  .modal-body {
    height: 80vh;
    width: 90vw;
  }

  .modal-content {
    width: 90vw;
  }

  .modal-dialog {
    margin-left: 5vw;
  }
}
