@import './common/styles/animations';
@import './common/styles/vars/colors';
@import "./common/styles/vars/fonts";

html, body {
  height: 100%;
}

body {
  color: $primary-font-color;
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
}

.modal-content {
  justify-content: center;
}

.modal-dialog {
  max-width: 40rem;
  width: 96vw;
}

.modal-header {
  background: $popover-header-color;
  color: white;
  align-items: flex-start;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .btn-close {
    filter: brightness(0) white;
    opacity: 1;
  }
}

.modal-footer {
  align-items: center;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.modal-backdrop {
  display: none;
  &.show {
    .modal[role=dialog] {
      @include fade-in;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      display: flex !important;
      justify-content: center;
    }
  }
}

.modal-dialog-centered::before {
  display: none;
}

.table-responsive {
  width: 100%;
}
