@import '../../../common/styles/vars/colors';
@import '../../../common/styles/animations';
@import '../../../common/styles/buttons';
@import '../../../common/styles/layout';

.loadMessage {
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

div.scrollContainer {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 7.5rem;
  position: relative;
}

.loadingOverlay {
  background: none;
}
