@import '../common/styles/vars/colors';
@import '../common/styles/buttons';
@import '../common/styles/layout';

.listItem {
  align-content: center;
  color: $primary-font-color;
  display: flex;
  line-height: normal;
  padding: 0 1rem 0 0;
  + .listItem {
    border-top: 1px solid $medium-light-gray;
  }
  > * {
    padding: 0.75rem 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  > .icon {
    padding: 0.5rem 1rem;
  }
  > [class*=jump] {
    padding-right: 0;
  }
}

@each $priority,
$colors in $priorities {
  .priority-#{$priority} {
    $background-color: map-get($colors, 'background');

    background-color: $background-color;
    &:hover {
      background-color: lighten($background-color, 5%);
    }
    .icon {
      $color: map-get($colors, 'base');

      background-color: $color;
      &:hover {
        background-color: lighten($color, 4%);
      }
     
    }
  }
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  svg, svg > svg {
    fill: white;
    height: 2rem;
    width: 2rem;
  }
}

.serialNumber {
  display: none;
  padding-left: 0.5rem;
  padding-right: 0;
  @media (min-width: $md-layout-width-min) {
    display: flex;
  }
}

.title {
  flex: 1;
  justify-content: flex-start;
  text-align: left;
  &:hover {
    text-decoration: underline;
  }
}

.title, .icon {
  @include unstyledButton;
}

.date {
  align-items: flex-end;
  flex-flow: column;
  margin-left: auto;
  padding-right: 0;
  text-align: right;
}

.jump button {
  @include jumpButton;
}

.resolved {
  font-size: 0.65rem;
  font-style: italic;
}