@import '../common/styles/vars/colors';
@import '../common/styles/buttons';
@import '../common/styles/layout';

.primary-nav {
  align-items: center;
  background: $title-bar-color;
  color: white;
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  width: 100vw;
  z-index: 2;
  .dropdown-menu {
    background: $off-white;
    box-shadow: 3px 3px 0.5rem rgba($dark-gray, 0.25);
  }
  > .btn-primary {
    background: none;
    border: none;
  }
  .dropdown-toggle {
    max-height: var(--nav-height);
  }
  .left-controls {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-width: 9rem;
    .dropdown-item {
      padding: 1rem;
    }
  }
  .rightMenus {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .data-export-menu {
    margin-left: 0.5rem;
  }
  .dropdown.show {
    max-width: 95vw;
  }
  
  .dropdown-toggle {
    @include unstyledDropdown;
  }

  .dropdown-item {
    align-items: center;
  }
  
  .show > .btn-primary.dropdown-toggle {
    background: none;
    border: none;
    color: inherit;
  }
  
}

