@import '../common/styles/vars/colors';

.messageMenu {
  margin-right: 1rem;
}

.messageList {
  margin: 0;
  max-height: 16rem;
  min-width: 24rem;
  overflow-y: auto;
  li li {
    padding: 0.5rem 1rem 0.5rem;
  }
}

.messageTitle {
  padding: 0.5rem 1rem;
}

div.messageMenu {
  [class*=dropdown-menu] {
    padding-bottom: 0;
  }
}

.seeAll {
  border-top: 1px solid $light-gray-border;
  justify-content: flex-end;
  text-align: right;
}