@import '../common/styles/vars/colors';
@import '../common/styles/buttons';
@import '../common/styles/layout';

.iconContainer {
  align-items: center;
  display: flex;
  height: 3.05rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
  width: 3.75rem;

  svg,
  svg > svg {
    --dimensions: 2rem;
    --half-size: calc(var(--dimensions) / 2);

    fill: white;
    height: var(--dimensions);
    width: var(--dimensions);

    &[class*=generic] {
      height: var(--half-size);
      width: var(--half-size);
    }
  }
}

.listItem {
  align-items: center;
  color: $primary-font-color;
  display: flex;
  line-height: normal;
  padding: 0 0.5rem 0 0;

  + .listItem {
    border-top: 1px solid $light-gray-border;
  }

  > * {
    padding: 0.75rem 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  > .iconContainer {
    padding: 0.5rem 1rem;
  }

}

.titleContainer {
  display: block;
  flex: 1;
  justify-content: flex-start;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dateContainer {
  align-items: flex-end;
  cursor: default;
  flex-flow: column;
  margin-left: auto;
  max-height: 3rem;
  padding-right: 0;
  text-align: right;
}