@use 'sass:color';
@use '../common/styles/vars/colors';

$checkmark-color: colors.$secondary-medium-gray;
$hover-color: color.adjust($checkmark-color, $lightness: -12.5%);

.checkmark {
  --dimensions: 1.5rem;

  fill: none;
  flex-shrink: 0;
  stroke: $checkmark-color;
  stroke-width: calc(var(--dimensions) / 6);
  width: var(--dimensions);

  &.checked {
    fill: $checkmark-color;

    &:hover {
      fill: $hover-color;
    }
  }

  &.partial {
    fill: rgba($checkmark-color, 0.3);

    &:hover {
      fill: rgba($hover-color, 0.3);
    }
  }

  &:hover {
     fill: rgba($hover-color, 0.1);
  }
}