.modalBody {
  min-height: 10rem;

  .incidentScrollList {
    height: 100%;
    max-height: 20rem;
    overflow-y: auto;

    .listFooterItem {
      margin-top: 0.5rem;
    }
  }

  .spacer {
    margin-top: 1rem;
  }
}
