@use '../../../common/styles/buttons';
@use '../../../common/styles/layout';
@use '../../../common/styles/vars/colors';

.typesContainer {
  height: 20rem;
  overflow-y: auto;

  .categoryTitle {
    background: colors.$light-gray-background;
    line-height: normal;
    margin: 0;
    padding: 0.25rem 1rem;
  }

  .typesList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  
    button {
      @include buttons.unstyled-button;

      flex: 1;
      font-weight: bold;
      height: 100%;
      width: 100%;
  
      span {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
  
      &:hover {
        border: none;
        color: colors.$bright-blue;
        text-decoration: underline;

        svg {
          fill: colors.$bright-blue;
        }
      }

      &[aria-disabled='true'],
      &[aria-disabled='true']:hover {
        color: colors.$secondary-medium-gray;
        cursor: not-allowed;
        opacity: 0.6;
        text-decoration: none;

        svg {
          fill: colors.$secondary-medium-gray;
        }
      }
    }
  
    svg,
    img {
      --dimensions: 1.666rem;

      height: var(--dimensions);
      margin-bottom: 0.25rem;
      width: var(--dimensions);
    }
  
    &:first-child {
      border-top: thin solid colors.$light-gray-border;
    }

    .typeListItem {
      border: 1px solid colors.$light-gray-border;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      margin-bottom: auto;
      min-height: 6rem;
      width: 25%;
    }

    .typeUnavailableReason {
      color: colors.$secondary-medium-gray;
      display: block;
      font-size: 0.7rem;
      padding: 0 0.25rem 0.25rem;
      text-align: center;
    }
  }
}
