@import '../../common/styles/vars/colors';

.analyzerPopup {
    padding: .25rem;
    line-height: normal;
    h4 {
      display: flex;
      font-size: 1.15rem;
      font-weight: normal;
      line-height: normal;
    }
    h5 {
      color: $medium-light-gray;
      font-size: .75rem;
      font-weight: normal;
      margin-top: 1.0rem;
      text-align: center;
    }
}

.gearIcon {
  height: 1.0rem;
  width: 1.0rem;
  fill: $bright-blue; 
  margin-left: .5rem;
}

.typeIcon {
  height: 2.0rem;
  width: 2.0rem;
  stroke: $primary-font-color;
  margin-right: .25rem;
}