@import '../common/styles/buttons';
@import '../common/styles/vars/colors';

.container {
  @include mapboxControlButton;

  align-items: center;
  background: $mapbox-control-bg-color !important;
  color: $primary-font-color !important;
  cursor: unset; 
  display: flex;
  font-size: 0.75rem;
  height: 2.25rem;
  justify-content: center;
  line-height: normal;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  position: relative;
  white-space: unset;
  width: unset;

  &[aria-expanded="true"]:after {
    transform: rotate(180deg); 
  }

  .searchIcon {
    height: 1rem;
    margin-right: 0.25rem;
    width: 1rem;
    
    svg {
      height: 0.9rem;
      width: 0.9rem;

      circle {
        fill: none;
        stroke: $secondary-medium-gray;
        stroke-width: 1rem;
      }
  
      path {
        fill: $secondary-medium-gray;
      }
    }
  }
}

.menu {
  font-size: 0.875rem;
  padding: 0.25rem;
  width: 18rem;

  .searchButton {
    height: 0.875rem;
    width: 0.875rem;

    circle {
      fill: none;
      stroke: $bright-blue;
      stroke-width: 1rem;
    }

    path {
      fill: $bright-blue;
    }
  }
}
