@import '../common/styles/buttons';
@import '../common/styles/vars/colors';

.container {
  @include mapboxControlButton;

  align-items: center;
  background: $mapbox-control-bg-color !important;
  color: $primary-font-color !important;
  cursor: unset; 
  display: flex;
  font-size: 0.75rem;
  height: 2.25rem;
  justify-content: center;
  line-height: normal;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  position: relative;
  transition: none;
  white-space: unset;
  width: unset;

  &[aria-expanded="true"] {
    color: $bright-blue !important;

    .searchIcon {
      circle {
        stroke: $bright-blue;
      }
  
      path {
        fill: $bright-blue;
      }
    }

    &:after {
      color: $bright-blue;
      transform: rotate(180deg); 
    }
  }

  .searchIcon {
    height: 1rem;
    margin-right: 0.25rem;
    width: 1rem;
    
    svg {
      height: 0.9rem;
      width: 0.9rem;

      circle {
        fill: none;
        stroke: $secondary-medium-gray;
        stroke-width: 1rem;
      }
  
      path {
        fill: $secondary-medium-gray;
      }
    }
  }

  &:hover {
    background: white !important;
  }
}

.menu {
  font-size: 0.875rem;
  padding: 0.25rem;
  width: 18rem;

  .gpsInput {
    input[type=text] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .gpsInputButton {
    align-items: center;
    background-color: #f4f7fd;
    border: 1px solid #d8d9d9;
    border-left: none;
    border-radius: 0 .2rem .2rem 0;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    min-width: 2.25rem;
    padding: 0;
    width: 2.25rem;

    .searchIcon {
      height: 0.875rem;
      width: 0.875rem;

      circle {
        fill: none;
        stroke: $bright-blue;
        stroke-width: 1rem;
      }

      path {
        fill: $bright-blue;
      }
    }
  }
}
