@import '../common/styles/buttons';

.clipboardWrapper {
  position: relative;
  button {
    @include unstyledButton;
  }
}

.toast {
  width: 55%;
  float: right;
}

.closeIcon{
  width: 0.7rem;
  height: 0.7rem;
}