
@import '../common/styles/buttons';

.clipboardWrapper {
  position: relative;
  button {
    @include unstyledButton;
  }
}

div.copySuccessMsg {
  margin: 0;
  position: absolute;
  right: -8rem;
  top: 0;
}