@use 'sass:map';
@use '../../../common/styles/vars/colors';

@mixin milestone-theme($theme) {
  --item-icon-bg: #{map.get($theme, 'base')};
  --item-icon-color: white;
}

.active {
  @include milestone-theme(colors.$patrol-active-theme);
}

.paused {
  @include milestone-theme(colors.$patrol-paused-theme);
}

.linkIcon {
  --action-icon-size: 0.875rem;
}
