@use '../common/styles/buttons';
@use '../common/styles/vars/colors';


@mixin button-background($image: 'tracks_off') {
  background-image: url('../common/images/icons/#{$image}.svg');
}

@mixin control {
  align-items: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  line-height: normal;
  position: relative;
  
  .button {
    @include button-background;

    background-size: cover;
    background-color: colors.$subject-control-btn-bg;
    border: none;
    border-radius: 0.25rem;
    display: block;
    height: buttons.$square-button-dimension;
    outline: none;
    width: buttons.$square-button-dimension;
  
    &:focus {
      outline: none;
    }
  
    &.visible {
      filter: unset;
    }
  }
}