
.controls {
  display: flex;
  justify-content: space-around;
  &.noTitles {
    span {
      display: none;
    }
  }
}

.container {
  position: relative;
}

.loadingOverlay {
  z-index: 1000;
}

.messagingButton {
  border: 1px solid black;
  border-radius: 0.1666rem;
  svg {
    stroke: black;
    * {
      stroke: black;
    }
  }
}
