@import '../common/styles/layout';

.controls {
  display: flex;
  justify-content: space-around;
  &.noTitles {
    span {
      display: none;
    }
  }
}

.messagingButton {
  border: none;
  padding: 0rem;

  svg {
    height: 2.2rem;
    width: 2.2rem;
  }
}