@use '../common/styles/vars/colors';

.fieldset {
  &.readOnly .container {
    background-color: colors.$off-white;
  }

  legend {
    width: 100%;
    color: colors.$secondary-medium-gray;
    font-size: 1rem;
    margin-bottom: 0.125rem;
    font-weight: 500;
  }

  .container {
    border: 1px solid colors.$light-gray-border;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
  }

  &.error {
    border-color: colors.$bright-red;

    legend {
      color: colors.$bright-red;
    }
  }
}
