@use '../common/styles/vars/colors';

.fieldset {
  legend {
    color: colors.$secondary-medium-gray;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.375rem;
    width: 100%;
  }

  .container {
    border: 1px solid colors.$light-gray-border;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-height: 15.625rem;
    overflow: hidden auto;
    padding: 0.5rem;
  }

  &.readOnly .container {
    background-color: colors.$off-white;
  }

  &.error {
    legend {
      color: colors.$bright-red;
    }

    .container {
      border-color: colors.$bright-red;
    }
  }
}
